/******************************************************/

.catogary {
    border: 1px #D6DEE6 solid;
}

.quickSearch .input-group-addon, .advancedSearch .input-group-addon {
    padding-right: 3%;
}

.conditionBlock {
    padding-left: 15px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}
 .btn-catogary{
  color: darkslateblue;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  *background-color: #fff;
/*
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
*/
  border-color: #0044cc #0044cc #002a80;
/*  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
  border-color: darkslateblue;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}


.catogaryText {
     float:left; 
     margin-top: 8px; 
     width: 42px; 
}



.addBookNavigation {
    float: left;
/*
    margin-left: 38px;
    margin-top: 20px;
    margin-bottom: -5px;
*/
    font-weight: bold;
    text-rendering: optimizelegibility;
}

.lackFeadback {
    text-align: right;
    cursor: pointer;

}

.condition {
    width: 80%;
}

.leftpart {
    float: left;
    width: 75%;
    padding-right: 15px;
}

.rightpart {
    padding-left: 15px;
    float: left;
    width: 24%;
}

.popularChoice {
    margin: 10px 40px;
    margin-bottom: 0px;
}

.popularChoice .popularText {
    margin-right: 30px;
    margin-bottom: 0;    
}

#myBookshelf-button {
    font-size: 14px;
    float: right;
    margin: 8px 0;
}



.bookDetailImg {
    float: left;
}

.bookDetailUp {
     padding-top: 20px; 
/*    margin-bottom: 23px;*/
}


.bookDetailText {
    padding-left: 20px;
/*    font-size: 12px;*/
}

.bookDetailText .red-text {
    color: #FFA267;
}

.cramb {
    margin: 0px 0px 15px 0px;
}

.bookExercise {
    border-left: 1px #D5DDE6 solid;
}

.bookOperation {
    padding-top: 20px;
    margin-left: -30px;
}

.bookBuy {
    text-align: right;
    font-size: 10px;
    margin: 5px 0px 15px 0px;
}

.bookRemove {
    text-align: left;
    font-size: 10px;
    margin: 5px 0px 15px 0px;
}

.bookDetailAlsoRead {
    border-bottom: 1px #D6DEE6 solid;
    padding-left: 15px;
    margin-bottom: 15px;
}

.bookDetailMid {
    margin-bottom: 5px;
}

.bookDetailMid .img-center{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.bookTital {
    text-align: center;
}

.bookOverview {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.input-group {
/* padding-bottom: 10px; */
}



.bookList {
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 15px;
}

.readingCenter-right-body .bookDetailBottom {
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    /* border-bottom: 1px #D6DEE6 solid; */
}

.lackBookModal {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    width: auto;
    margin: 0;
}



.lackBookModel {
    /*margin-top: 260px;*/
/*    margin-left: 250px;*/
    width: 65%;
    min-width: 400px;
}

.lackbook-input {
    height: 30px;
}

.lackBookText {
  width: 80px;
  float: left;
  padding-top: 15px;
  margin-left: 15px;
  text-align: right;
}


.placeHolder {
    height: 135px;
}

.catogaryBtn {
    float: left;
    width: 108px;
}

.lackBookInput {
    margin-top: 10px;
    float :left;
    width: 295px;
    margin-bottom: 10px;
}

/****Add Book***/
.select-tab
{
    text-align: center;
    cursor: pointer;
/*    padding: 15px 0px;*/
    color:#000000;
}

.select-tab.myActive
{
    border-bottom: 3px #55C9D2  solid;
    color: #55C9D2 ;
}
.addBook-body {
    margin-top: 15px;
}

.addBook-body .addBookFind {
    color: black;
    border-bottom: 1px #CCCCCC solid;
    list-style:none;
}
.find ul{
    list-style:none;
}

.addBookFindRight {
    border-bottom: 1px #CCCCCC solid;
    padding-bottom: 2px;    
}

.tip {
    border-top: 1px #CCCCCC solid;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.addBookIMG {
      height: 135px;
      margin-top: 16px;
}

.searchHolder {
    height: 201px;
}

/*******************quick search*******************/
/*
.quickSearch, .advancedSearch, .popularSearch, .recommendSearch
{
    margin-left: 15px;
    margin-right: 15px;
}
*/

.quickSearch .search, .advancedSearch .search
{
/*    margin-top: 5px;*/
    /* padding-left: 20px; */
    /* padding-right: 3%; */
/*    padding-bottom: 10px;*/
}

.quickSearch .search input, .advancedSearch .search input
{
    border: 1px #72BEE6 solid;
}

.quickSearch .search span, .advancedSearch .search span
{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #72BEE6;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.quickSearch .search span:hover, .advancedSearch .search span:hover
{
    background-color: #83CFF7;
}

.addBookPageNum {
    padding-right: 0px;
    height: 50px;
    padding-top: 13px;
    margin-right: -30px;
    margin-left: -15px;
}


.conditionBlock .radioCondition {
    margin-bottom: -10px;
}

.bookDetailTabPanes {
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.readingCenter-right-body {
    border-radius: 5px;
    border: 1px #E1E1E1 solid; 
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.21);
    margin-top: 15px;
}

.ShelfByClassBookAttribute {
    margin-top: 10px;
}

.ShelfByClassBookAttributeText {
    margin-left: 20px;
}

.width170 {
    width: 170px;
}

.width80 {
    width: 80px;}

.textColor {
    color: #2f5682;
}

.filterText {
    margin-top: 8px;
}

.alignRight {
    margin-left: 508px;
}
