
/* Dark gray */
h1, h2, h3, h4, h5, .title,
h1 small, h2 small, h3 small, h4 small, h5 small,
.dark-gray-1{
    color: #4f4f4f;
}


/* Dark gray for text and so on*/
.select-group, .radio,
p, .paragraph,
.dark-gray-2{
    color: #666666;
}


/* Light blue for link and so on */
a,
.light-blue {
    color: #55C9D2;
}

a:focus, a:hover {
    color: #55C9D2;
    text-decoration: none;
    cursor: pointer;
}

/* Green for nav-tabs and bottons */


/*    color: #B6D023;*/

