<!--index head content-->
<div  id="main-page">
    <div id="index-head" class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-3" style="padding-top:25%"><img style="  top:0;left:0;position:absolute;height:100%;width: 100%;" ng-src="{{picture.current | formatImg}}" class="img-responsive img-circle border-shadow"></div>
                    <div class="col-md-9">
                        <div class="col-md-12 index-head-info-text">
                            <h2><strong>{{userInfo.username}}</strong></h2>
                        </div>
                        <div class="col-md-12 index-head-info-text">
                            {{userInfo.gender | formatGender}}
                            &nbsp;&nbsp;&nbsp;
                            |
                            &nbsp;&nbsp;&nbsp;
                            {{userInfo.school}}
                            &nbsp;&nbsp;&nbsp;
                            |
                            &nbsp;&nbsp;&nbsp;
                            {{userInfo.class}}
                        </div>
                        <div class="col-md-12 index-head-info-text" >
                            <span class="label label-success">阅读等级：{{userInfo.statistic.level}}</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="label label-warning">财富值：{{userInfo.statistic.coin}}</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="label label-danger">阅读金币：{{userInfo.statistic.point}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <!--index body content-->
    <div class="container-fluid bodyPart">
        <div class="col-md-1"></div>
        <div class="col-md-7 div-tag tag-margin-blue tag-middle">
            <div class="row row-title">
                <div class="col-md-2 row-title-name">我的书架</div>
                <div class="col-md-4 row-title-finish">阅读目标完成率：{{bookshelf.finishStatus}}%</div>
                <div class="col-md-4"></div>
                <div class="col-md-2 row-title-more"><a href="#readingCenter/myBookshelf">更多></a></div>
            </div>
            <div class="row row-content">
                <div class="col-md-6">
                    <div class="book-read-unread row">
                        <div class="col-md-3"></div>                            
                        <div class="col-md-4">
                            <img src="../static/img/readstatus/unread.png" class="img-responsive">
                        </div>
                        <div class="col-md-5" style="margin-left: -60px;">未读</div>
                    </div>
                    <br />
                    <div class="col-md-1"></div>
                    <div class="col-md-4">必读：{{bookshelf.unreadMust}}本</div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">选读：{{bookshelf.unreadSelect}}本</div>
                    <div class="col-md-1"></div>
                </div>
                <div class="col-md-6" style="border-left:1px #EAEAEA solid">
                    <div class="book-read-readed row">
                        <div class="col-md-3"></div>                            
                        <div class="col-md-4">
                            <img src="../static/img/readstatus/read.png" class="img-responsive">
                        </div>
                        <div class="col-md-5" style="margin-left: -60px;">已读</div>
                    </div>
                    <br />
                    <div class="col-md-1"></div>
                    <div class="col-md-4">必读：{{bookshelf.readMust}}本</div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">选读：{{bookshelf.readSelect}}本</div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="row row-title">
                <div class="col-md-2 row-title-name">我的测试</div>
                <div class="col-md-4 row-title-finish">测试正确率：{{exam.passRate}}%</div>
                <div class="col-md-4"></div>
                <div class="col-md-2 row-title-more"><a href="#readingCenter/myEvaluating">更多></a></div>
            </div>
            <div class="row row-content">
                <div class="col-md-3" ng-repeat="item in exam.examDTOs">
                    <div class="book-bottom-text">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-8"><img ng-src="{{item.pictureUrl}}" class="img-responsive"></div>
                            <div class="col-md-1"></div>
                        </div>
                        <div><h4><a href="#readingCenter/bookDetails/{{item.bookId}}">{{item.name}}</a></h4></div>
                        <div>时间：{{item.creationTime}}&nbsp;&nbsp;&nbsp;积分：{{item.point}}</div>
                        <div>成绩：{{userInfo.examScore}}  正确率：{{item.passCount/item.questionNum*100}}%</div>
                    </div>
                </div>
            </div>
            <div class="row row-title">
                <div class="col-md-2 row-title-name">我的笔记</div>
                <div class="col-md-4 row-title-finish">我的总笔记数：{{notesNum}}</div>
                <div class="col-md-4"></div>
                <div class="col-md-2 row-title-more"><a href="#readingCenter/myNote">更多></a></div>
            </div>
            <div class="row row-content">
                <div class="col-md-3" ng-repeat="item in notes">
                    <div class="book-bottom-text">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-8"><img ng-src="{{item.bookPictureUrl}}" class="img-responsive"></div>
                            <div class="col-md-1"></div>
                        </div>
                        <div><h4>{{item.book}}</h4></div>
                        <div title="{{item.title}}">笔记名：{{item.title | formatSize4}}</div>
                        <div>作者：{{userInfo.username}}  评论：{{item.commentCount}}条</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 div-tag tag-margin-green tag-right">
                <div class="row row-title">
                    <div class="col-md-8 row-title-name">阅读海洋</div>
                    <div class="col-md-4 row-title-more"><a href="#">更换角色></a></div>
                </div>
                <div class="row row-content-right">
                    <div class="col-md-12"><img src="../static/img/app.jpg" class="img-responsive" /></div>
                    <div class="col-md-12 enter-game"><input class="btn btn-default" type="button" value="进入游戏" /></div>
                </div>
            </div>

            <div class="col-md-12 div-tag tag-margin-blue tag-right">
                <div class="row row-title">
                    <div class="col-md-8 row-title-name">正在发生</div>
                    <div class="col-md-4 row-title-more"><a href="#readingDynamic/actions">更多></a></div>
                </div>
                <div class="row row-content-right row-activity">
                    <ul>
                        <li ng-repeat="action in actionPageable.entities.content">{{ action.title }}</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12 div-tag tag-margin-green tag-right">
                <div class="row row-title">
                    <div class="col-md-8 row-title-name">同学阅读达人</div>
                    <div class="col-md-4 row-title-more"><a href="#statisticsRanking">更多></a></div>
                </div>
                <div class="row row-content-right row-read-master">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6"><img ng-src="{{hotReaders.first.picture}}" class="img-responsive img-circle"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-3" style="margin-top:-17%;"><img src="../static/img/readingDynamic/first.png" class="img-responsive img-circle"></div>
                    </div>
                    <div><h3>{{hotReaders.first.username}} <span class="read-master-count">{{hotReaders.first.statistic.testPasses}}本</span></h3></div>
                    <hr>
                    <div class="row" ng-repeat="hotreader in hotReaders.others" ng-init="award = ['second', 'third']">
                        <div class="col-md-1"></div>
                        <div class="col-md-2"><img ng-src="../static/img/readingDynamic/{{award[$index]}}.png" class="img-responsive img-circle"></div>
                        <div class="col-md-5 read-master-name">
                            {{hotreader.username}}
                        </div>
                        <div class="col-md-3 read-master-count">{{hotreader.statistic.testPasses}}本</div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 div-tag tag-margin-blue tag-right">
                <div class="row row-title">
                    <div class="col-md-8 row-title-name">热门笔记</div>
                    <div class="col-md-4 row-title-more"><a href="#hotNotes">更多></a></div>
                </div>
                <div class="row row-content-right row-hot-note">
                    <div class-"row" ng-repeat="item in hotNotes">
                        <div class="col-md-7" title="{{item.content}}">{{item.content | formatSize6}}</div>
                        <div class="col-md-5">评论：{{item.commentCount}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>