<div class="row"  style="margin-left: 15px;margin-right: 15px">
    <div class="readingCenter-right">
        <div class="col-md-8 col-md-offset-2">
            <div class="row readingCenter-right-top">
                <div class="col-md-4"><img src="../static/img/myEvaluating.png" class="img-responsive img-rounded"></div>
            </div>
            <div id="myEvaluating" class="readingCenter-right-body">
                <div class="type row">
                    <div class="col-md-2 select-tab myActive" ng-click="showCertification()">认证测试</div>
                    <div class="col-md-2 select-tab" ng-click="showWord()">词汇训练</div>
                    <div class="col-md-2 select-tab" ng-click="showThinking()">思维训练</div>
                </div>
                <div ng-show="isCertification">
                    <div class="content row row-same-height" ng-repeat="item in verifyExams">
                        <!--<div class="width-1 col-xs-height col-middle col-full-height"><img ng-src="{{imageServer+item.pictureUrl}}" class="img-responsive"></div>-->
                        <div class="col-md-2 name col-xs-height col-middle col-full-height" title="{{item.name}}">{{item.name | formatSize5}}</div>
                        <div class="col-md-2 value col-xs-height col-middle col-full-height">
                            财富值：{{item.coin}}
                        </div>
                        <div class="col-md-2 value col-xs-height col-middle col-full-height">
                            积分：{{item.point}}
                        </div>
                        <div class="col-md-2 value col-xs-height col-middle col-full-height">
                            正确率: {{item.examScore}}%
                        </div>
                        <!--<div class="width-1 value col-xs-height col-middle col-full-height">
                        <div ng-show="item.pass">
                            <a ng-click="chooseBook(item.bookId)" data-toggle="modal" data-target="#exam-evaluation-model" ng-hide="item.comment">评价</a>
                            <p ng-show="item.comment">已评</p>
                            </div>
                        </div>-->
                        <div class="col-md-4 value col-xs-height col-middle col-full-height">测试时间：{{item.creationTime}}</div>
                    </div>
                </div>
                <div ng-show="isWord">
                    <div class="content row row-same-height" ng-repeat="item in wordExams">
                        <!--<div class="width-1 col-xs-height col-middle col-full-height"><img ng-src="{{imageServer+item.pictureUrl}}" class="img-responsive"></div>-->
                        <div class="col-md-2 name col-xs-height col-middle col-full-height" title="{{item.name}}">{{item.name | formatSize5}}</div>
                        <div class="col-md-5 value tr col-xs-height col-middle col-full-height">
                            正确率: {{item.examScore}}%
                        </div>
                        <div class="col-md-1 value tr col-xs-height col-middle col-full-height">

                        </div>
                        <div class="col-md-3 value tr col-xs-height col-middle col-full-height">测试时间：{{item.creationTime}}</div>
                    </div>
                </div>
                <div ng-show="isThinking">
                    <div class="content row  row-same-height" ng-repeat="item in thinkExams">
                        <!--<div class="width-1 col-xs-height col-middle col-full-height"><img ng-src="{{imageServer+item.pictureUrl}}" class="img-responsive"></div>-->
                        <div class="col-md-4 name col-xs-height col-middle col-full-height" title="{{item.name}}">{{item.name | formatSize5}}</div>
                        <div class="col-md-3 value tr count col-xs-height col-middle col-full-height">问答题目数：{{item.questionNum}}</div>
                        <div class="col-md-5 value tr col-xs-height col-middle col-full-height">测试时间：{{item.creationTime}}</div>
                    </div>
                </div>
                <div class="bottom" ng-click="addCount()">{{status.current}}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <!-- ng-class="{true: 'active', false: 'inactive'}[isActive]"-->
                <div class="col-md-12">
                    <!--<button type="button" class="btn btn-checked" style="margin-top:90px">全部</button>-->
                </div>
            </div>
        </div>
        <div class="modal fade" id="exam-evaluation-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color: #2F5682">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-body">

                            <!-- Row 0 -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="modal-title" id="myModalLabel">测试评价
                                    </h4>
                                </div>
                            </div>

                            <!-- Place holder -->
                            <p class="row"></p>

                            <div class="row">
                                <div class="col-md-1">评分:</div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control" ng-model="rate" min="1" max="5">
                                </div>
                            </div>

                            <!-- Input form -->
                            <div class="row">
                                <div class="col-md-12 input-textarea-group">
                                    <input class="form-control" placeholder="标题（必填）" ng-model="title" />
                                    <textarea class="form-control message-input" ng-model="content" placeholder="正文（不少于20字）" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button class="btn btn-green" ng-click="evaluate()" type="button">发表评论</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    SetBookList();
    SetReadingCenterRightHeight();
</script>