<div id="readingCenter-page">
    <div class="sidebar">
        <!--<a class="list-group-item" ui-sref='.myBookshelf'>我的书架</a>
        <a class="list-group-item" ui-sref='.myNote'>我的笔记</a>
        <a class="list-group-item" ui-sref='.myEvaluating'>我的测试</a>-->
        <ul class="nav-sidebar nav">
            <li><a ui-sref='.myBookshelf'><img src="../static/img/readingCenter/myBookshelf.png"></img><span>我的书架</span></a></li>
            <li><a ui-sref='.myNote'><img src="../static/img/readingCenter/myNote.png"></img><span>我的笔记</span></a></li>
            <li><a ui-sref='.myEvaluating'><img src="../static/img/readingCenter/myEvaluating.png"></img><span>我的测评</span></a></li>
            <li><a ui-sref='.addBook'><img src="../static/img/readingCenter/add.png"></img><span>我要选书</span></a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div ui-view></div>
        </div>
    </div>
</div>
<script>
	ReadingCenterLeftNav();
</script>