/******************************************************/

.catogary {
    border: 1px #DDD solid;
}

.advancedSearch .input-group-addon {
    padding-right: 5%;
}

.conditionBlock {
    padding-left: 15px;
    padding-bottom: 5px;
    margin-right: 10px;
    border-bottom: 1px #DDD solid;
    border-left: 1px #DDD solid;
}
 .btn-catogary{
  color: darkslateblue;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  *background-color: #fff;
/*
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
*/
  border-color: #0044cc #0044cc #002a80;
/*  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
  border-color: darkslateblue;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}


.catogaryText {
    float:left;
    margin-top: 8px;
}



.addBookNavigation {
    float: left;
/*
    margin-left: 38px;
    margin-top: 20px;
    margin-bottom: -5px;
*/
    font-weight: bold;
    text-rendering: optimizelegibility;
}

.lackFeadback {
    color: darkslateblue;
    text-align: right;
    cursor: pointer;
    padding: 15px 2px;

}

.condition {
    width: 80%;
}

.leftpart {
    float: left;
    width: 80%;
}

.rightpart {
    padding-left: 10px;
    float: right;
    width: 20%;
}

.popularChoice {
    margin: 15px 40px;
}

.popularChoice .popularText {
    margin-right: 30px;
    color: darkslateblue;
}

#myBookshelf-button {
    font-size: 14px;
    float: right;
    margin: 8px 0;
}



.bookDetailImg {
    float: left;
}

.bookDetailUp {
    padding-top: 35px;
    margin-bottom: 30px;
}


.bookDetailText {
    padding-left: 20px;
/*    font-size: 12px;*/
}

.cramb {
    margin: 0px 0px 15px 0px;
}

.bookExercise {
    padding-top: 5px;
    border-left: 1px #DDD solid;
}

.bookOperation {
    padding-top: 20px;
    margin-left: -30px;
}




.bookBuy {
    text-align: right;
    font-size: 10px;
    margin: 5px 0px 15px 0px;
}

.bookRemove {
    text-align: left;
    font-size: 10px;
    margin: 5px 0px 15px 0px;
}

.bookDetailAlsoRead {
    border-bottom: 1px #DDD solid;
    padding-left: 15px;
    margin-bottom: 15px;
}

.bookDetailMid {
    margin-bottom: 5px;
}

.bookTital {
    text-align: center;
}

.bookOverview {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.input-group {
}
