.txt-title
{
	padding: 10px;
	font-size: 14px;
	width: 100%;
	border: 1px #92A5BB solid;
	border-bottom: 0;
}

.txt-content
{
	padding: 10px;
	font-size: 14px;
	width: 100%;
	border: 1px #92A5BB solid;
    border-top: 1px #D5DDE6 solid;
    height: auto;
}

.txt-content:focus
{
	outline: -webkit-focus-ring-color auto 0px;
}

.btn-addBook
{
	border: 2px #FFFFFF solid;
    background-color: #FFAF25;
    color: #FFFFFF;
}

.btn-addBook:hover
{
    background-color: #EB9B00;
    color: #FFFFFF;
}

.btn-addBook:focus
{
    color: #FFFFFF;
    background-color: #FFAF25;
}

.btn-green
{
    border: 1px #B6D023 solid;
    background-color: #FFFFFF;
    color: #B6D023;
}

.btn-green:hover
{
    background-color: #F0F0F0;
    color: #B6D023;
}

.btn-green:focus
{
    color: #B6D023;
    background-color: #F0F0F0;
}

.btn-fill-green
{
    border: 1px #B6D023 solid;
    background-color: #B6D023;
    color: #FFFFFF;
}

.btn-fill-green:hover
{
    background-color: #c5e225;
    color: #FFFFFF;
}

.btn-fill-green:focus
{
    color: #FFFFFF;
    background-color: #c5e225;
}