.page-body {
    border-radius: 5px;
    border: 1px #DDD solid;
    background-color: #FFFFFF;
}

.page-body-top {
    margin-top: 25px;
}

.page-body .title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-body .paragraph {
    margin-top: 20px;
    padding-bottom: 20px;
}

.page-body .title-link {
    line-height:40px;
}

/*modal related*/
.modal-dialog {
    width: 58%;
}