.page-body {
    border-radius: 5px;
    border: 1px #DDD solid;
    background-color: #FFFFFF;
}

.page-body-top {
    margin-top: 25px;
}

.page-body .title, .modal-content .title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-body .paragraph, .modal-content .paragraph {
    margin-top: 20px;
    padding-bottom: 20px;
}

.page-body .title-link {
    line-height:40px;
}

/*modal related*/

@media (min-width: 768px){
    .modal-dialog {
      width: 625px;
    }
}

@media (min-width: 992px){
    .modal-dialog {
      width: 808px;
    }
}


@media (min-width: 1200px){
    .modal-dialog {
      width: 975px;
    }
}




.modal-content {
     background-color: #F5F5F5;
}

.modal-content .btn-green {
     background: none;
}