.page-body {
    margin-top: 25px;
}

.page-body .title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-body .paragraph {
    padding-bottom: 20px;
    padding-top: 20px;
}

/*modal related*/
.modal-dialog {
    width: 58%;
}