
body
{
    background: url(../img/background.jpg) no-repeat fixed center top #b4d6d8;
    padding-top: 50px;
}
/*change placeholder color*/
.navbar .input-group input::-webkit-input-placeholder {
    color: #FFFFFF !important; /* WebKit browsers */
}
.navbar .input-group input:-moz-placeholder {
    color: #FFFFFF !important; /* Mozilla Firefox 4 to 18 */
}
.navbar .input-group input::-moz-placeholder {
    color: #FFFFFF !important; /* Mozilla Firefox 19+ */
}
.navbar .input-group input:-ms-input-placeholder {
    color: #FFFFFF !important; /* Internet Explorer 10+ */
}
a:focus, input:focus
{
    outline: none;
}
#footer
{
    //height: 50px;
    background: url(../img/index_bottom.png) no-repeat fixed center bottom;
}
/***********navigation top*************************/
.navbar
{
    background-color: #FFFFFF !important;
    padding-top: 5px;
    box-shadow: 0 0px 7px #888888;
}

.navbar a
{
    color:#778BA6;
    font-size: 16px;
    font-weight: 700;
}

.navbar-brand
{
    padding: 0;
    padding-right: 30px;
}

.navbar li a:hover, .navbar li a:visited
{
    background-color:transparent;
}

.nav-underline
{
    margin-bottom: 5px;
}

.nav-underline li a:focus
{
    background-color:transparent !important;
    border-bottom: 2px #778BA6 solid;
    margin-bottom: -2px;
}

.nav-underline li.myActive
{
    border-bottom: 2px #778BA6 solid;
    margin-bottom: -2px;
}
/************navigation bottom************************/

/************main-head top************************/


#index-head
{
    margin-top:30px;
}

.index-head-info-text
{
    margin-top: 10px;
    font-size: 14px;
}

.index-head-info-text:first-child
{
    margin-top: 20px;
}

.index-head-info-text:last-child
{
    margin-top: 20px;
    font-size: 16px;
}
/************main-head bottom************************/

/************main-body top************************/
.bodyPart
{
    /*background-color: #EAEAEA;*/
}

.div-tag
{
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px #77B2D0 solid;
}


.tag-left
{
}

.tag-middle
{
    margin-left: 10px;
}

.tag-right
{
}

.row-title
{
    margin-top:20px;
}

.row-content
{
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px #EAEAEA solid;
}

.row-content-right
{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #EAEAEA solid;
}

.row-title-name
{
    font-size: 16px;
    font-weight: 900;
}

.row-title-finish
{
    font-size: 12px;
    color: #BEBEBE;
}

.row-title-more
{
    font-size: 12px;
    text-align: right;
}

.book-read-readed
{
    text-align: center;
    font-size: 40px;
    color: #AEC634;
    font-weight: 800;
}

.book-read-unread
{
    text-align: center;
    font-size: 40px;
    color: #FF544D;
    font-weight: 800;
}

.enter-game
{
    text-align: center;
    margin-top: 15px;
}

.book-right-text div
{
    font-size: 12px;
    margin-top: 5px;
    margin-left: -10px;
}

.clear-padding
{
    padding: 0;
}

.book-bottom-text div
{
    text-align: center;
    font-size: 11px;
    margin-top: 8px;
}

.book-bottom-text:first-child
{
    margin-left: 10px;
}

.row-activity ul li
{
    margin-bottom: 8px;
}

.row-hot-note div div
{
    margin-bottom: 8px;
}

.row-read-master div div
{
    margin-bottom: 8px;
}

.row-read-master
{
    text-align: center;
}

.read-master-name
{
    font-size: 14px;
    text-align: left;
    padding-top: 3px;
}

.read-master-count
{
    color: #BEBEBE;
    font-size: 12px;
    padding-top: 3px;
}
/************main-body bottom************************/

/************readingCenter page******************************/
.sidebar
{
    width: 11%;
    max-width: 143px;
    position: fixed;
    top: 41px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #5E4F35;
    border-right: 1px solid #EEE;
}

.nav-sidebar li a:hover, .nav-sidebar li a:focus
{
    background-color:transparent !important;
}

.nav-sidebar li.myActive
{
    border-right: 4px #FFFFFF solid;
    z-index: 100;
    background-color: #B8A179;
}

.nav-sidebar>li.myActive>a {
    border-bottom: 1px #B8A179 solid;
}

.nav-sidebar 
{
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a 
{
    color: #FFFFFF;
    border-bottom: 1px #857965 solid;
    font-weight: 700;
    padding: 17px 0 17px 9%
}

.nav-sidebar>li>a>img {
    margin-right: 5px;
    height: 20px;    
}

.nav-sidebar>li>a>span {
    font-size: 15px;
    vertical-align: middle;
}

.bgLightYellow
{
    background-color: #FFFCFA;

}

.readingCenter-right
{
/*    background-color: #EAEAEA;*/
/*    margin-top: 20px;*/
}

.readingCenter-right-top
{
    margin-top: 25px;
}


.btn-addBook
{
    padding:9px 15px;
    font-size: 18px;
    border: 2px #FFFFFF solid;
    background-color: #FFAF25;
    color: #FFFFFF;
    border-radius:7px;
}

.btn-addBook:hover
{
    background-color: #EB9B00;
    color: #FFFFFF;
}

.btn-addBook:focus
{
    color: #FFFFFF;
    background-color: #FFAF25;
}

.readingCenter-right-body
{
    border-radius: 5px;
    border: 1px #547498 solid;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    padding-top: 15px;
}

#myBookshelfBody-top
{
    border-bottom: 1px #D6DEE6 solid;
    margin-left: 15px;
    margin-right: 15px;
}

#myBookshelfBody-center
{
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px #D6DEE6 solid;
    padding-bottom: 20px;
}

.select-tab
{
    text-align: center;
    cursor: pointer;
    padding: 15px 0px;
    color:#000000;
}

.select-tab.myActive
{    
    border-bottom: 2px #B6D023 solid;
    color: #B6D023;
}

.bookshelf-book
{
    margin-top: 30px;
    float: left;
}

.mustRead
{
/*  The old one
    margin-top: -160%;
    margin-left:60%;
*/
    margin-top: -161%;
    margin-left: 63%;
    width: 70%;
}

.img-padding
{
    padding: 5px 28px 10px 0px; 
}

.fsize12
{
    font-size: 12px;
    margin-bottom: 5px;
}

.readingCenter-right-body .bottom
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    color: #6C82A0;
}

.readingCenter-right-body .bottom:hover
{
    background-color: #FAFAFA;
    color: #6C82A0;
}

/*******************my note top*******************/

.note-row
{
    border-bottom: 1px #D6DEE6 solid;
}

.book-row
{
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
}

.book-row-left
{
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    margin-left: 10px;
}

.book-row-right {
    padding-left: 15px;
    padding-right: 0;
    width: 79%;
    float: left;
    position: relative;
    margin-bottom: 15px;
}

.book-row-right .book-thumbnail
{
    margin-top: 10px;
    height: 55px;
}

.book-row-right .book-thumbnail div
{
    margin-right: 15px;
    width:50px;
    height:50px;
    background-position: 50% 50%;
    background-repeat:  no-repeat;
    background-size: 100%;
}

.book-row-right .msg
{
    cursor: pointer;
    float: right;
    margin-top: -15px;
    font-size: 13px;
}

.book-row-right .overflow-text {
  height: 96px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-row-right .overflow-text-2 {
  height: 108px;
  text-overflow: ellipsis;
  overflow: hidden;
}


.msg-buttom{
    cursor: pointer;
    position: absolute; 
    float: right;
    bottom: 0;  
    right: 0;
    height: 23px;
}

.msg-buttom img{
    bottom: 0;
    position: absolute;
    height: 14px;
    left: -19px;
}

.msg-row
{
    margin-left: 10px;
    margin-bottom: 30px;
    margin-right: 17px;
}

.msg-row .reply
{
    padding-right: 0;
}

.msg-row .reply .total
{
    margin-top: 10px;
    background-color: #EAEEF2;
    border-bottom: 1px #FFFFFF solid;
}

.msg-row .reply .block
{
    background-color: #EAEEF2;
}

.msg-row .reply .person
{
/*    padding-top: 10px;*/
/*    color: #7C7C7C;*/
}

.msg-row .reply .content
{
/*
    padding-top: 7px;
    padding-bottom: 20px;
*/
}

/*******************my note bottom*******************/

/*******************find book top*******************/

.readingCenter-right-body .find
{
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px #D6DEE6 solid;
}

/*******************find book bottom*******************/

/*******************quick search top*******************/
.quickSearch, .advancedSearch, .popularSearch, .recommendSearch
{
    margin-left: 15px;
    margin-right: 15px;
}

.quickSearch .search, .advancedSearch .search
{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 3%;
    padding-bottom: 10px;
}

.quickSearch .search input, .advancedSearch .search input
{
    border: 1px #2F5682 solid;
}

.quickSearch .search span, .advancedSearch .search span
{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2F5682;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.quickSearch .search span:hover, .advancedSearch .search span:hover
{
    background-color: #48709d;
}

.quickSearch .tip
{
    padding:15px;
}

.quickSearch .multiple .title
{
    color: #087AB8;
    font-size: 25px;
    font-weight: 600;
    padding-top: 70px;
    padding-left: 50px;
}

.quickSearch .multiple .content
{
    padding-top: 15px;
    padding-left: 50px;
}

.quickSearch .advert
{
    padding: 30px;
}
/*******************quick search bottom****************/

/*******************advanced search top****************/

.advancedSearch .condition div
{
	margin-top: 10px;
}

.advancedSearch .condition .type
{
	text-align: right;
	color: #868686;
}


/*******************advanced search bottom****************/

/*******************my evaluate top****************/

#myEvaluating .type
{
	margin-left: 15px;
	margin-right: 15px;	
	border-bottom: 1px solid #D6DEE6;
}

#myEvaluating .content
{
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #D6DEE6;
}

#myEvaluating .content .name
{
	padding-top: 15px;
}

#myEvaluating .content .value
{
	color: #BEBEBE;
	text-align: right;
	padding-top: 15px;
}

#myEvaluating .content .count
{
    color: #000000;
}

#myEvaluating .content a
{
    color: #75C9FF;
    cursor: pointer;
}

/*******************my evaluate bottom****************/

/*******************reading dynamic top****************/
#readingDynamic-page {
    padding-top: 50px;
    height: 100%;
}


/*******************reading dynamic buttom****************/

/*******************reading dynamic top****************/
#readingDynamicHotNotes-page {
    padding-top: 50px;
    background-color: #EAEAEA;
    height: 100%;
}


/*******************reading dynamic buttom****************/

/*******************AddBook*****************************/
.readingCenter-right-body .col-md-8
{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #D6DEE6;
}

/*******************my thinking test top****************/
.readingCenter-right-body .thinkingTest,
.readingCenter-right-body .thinkingTesting
{
    color: #2F5682;
}

.readingCenter-right-body .thinkingTest .tagHead,
.readingCenter-right-body .thinkingTesting .tagHead,
.readingCenter-right-body .otherAnswer .tagHead
{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #D6DEE6;
}

.readingCenter-right-body .thinkingTest .title,
.readingCenter-right-body .thinkingTesting .title
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
}

.readingCenter-right-body .thinkingTest .analysis .category,
.readingCenter-right-body .thinkingTesting .analysis .category
{
    color: #BEBEBE;
    font-size: 14px;
    padding: 15px;
}

.readingCenter-right-body .thinkingTest .analysis .lists,
.readingCenter-right-body .thinkingTesting .analysis .lists,
.readingCenter-right-body .otherAnswer .lists
{
    padding-left: 15px;
    padding-right: 30px;
}

.underline
{
    border-bottom: 1px #92A5BB solid;
}

.readingCenter-right-body .thinkingTest .analysis .lists .list,
.readingCenter-right-body .thinkingTesting .analysis .lists .list,
.readingCenter-right-body .otherAnswer .lists .list
{
    margin-bottom: 15px;
    word-break: break-all;
}

.readingCenter-right-body .thinkingTest .analysis .list .theme,
.readingCenter-right-body .thinkingTesting .analysis .list .theme
{
    font-size: 16px;
    font-weight: 900;    
    margin-bottom: 10px;
}

.readingCenter-right-body .thinkingTest .analysis .list .content
{
    line-height: 22px;
}

.readingCenter-right-body .thinkingTest .analysis .list .other
{
    color: #75C9FF;
    text-align: right;
}

/*******************my thinking test bottom****************/

/*******************other answer top****************/
.readingCenter-right-body .otherAnswer
{
    color: #2F5682;
    border-bottom: 1px solid #D6DEE6;
}

.readingCenter-right-body .otherAnswer .title
{
    padding-left: 15px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 900;
}

.readingCenter-right-body .otherAnswer .lists
{
    padding-bottom: 30px;
}

.readingCenter-right-body .otherAnswer .list .theme
{
    color: #BEBEBE;
}

.readingCenter-right-body .otherAnswer .list .content
{
    line-height: 22px;
}

/*******************other answer bottom****************/

/*******************message center top****************/

.messageCenter-body .modal-content .modal-title{
    margin-bottom: 15px;
}

.messageCenter-body .modal-content .radio{
    padding-bottom: 23px;
}

.messageCenter-body .modal-content .select-group{
    padding-bottom: 16px;
}

.messageCenter-body .modal-content .select-label{
    line-height: 34px;
}

.messageCenter-body .modal-content .message-input{
    height: 140px;
}

/*******************message center buttom****************/

/*******************reading dynamic top****************/

.student-rank {
    bottom: -10%;
    right: -10%;
    position: absolute;
    width: 46%;
}

/*******************reading dynamic buttom****************/


/*******************statistics summary and ranking top****************/

.statistics-body .tab-content th {
    text-align: center;
    color: #98A7BA;
    border: none;
}

.statistics-body .tab-content td {
    border: 1px solid #FFF;
    background-color: #EAEEF2;
}

.statistics-body .summary-items {
    color: #4d4d4d;
    font-size: 16px;
    background-color: #EAEEF2;
    padding: 7px 7px 7px 15px;
}

.statistics-body .gray {
    background-color: #E5E5E5;
}

.statistics-body .orange {
    background-color: #F8E3C0;
}

.statistics-body .orange-light {
    background-color: #FFF6E6;
}
.statistics-body .orange-text {
    color: #FFAF25;
}

.statistics-body .pink {
    background-color: #FFBFBF;
}

.statistics-body .pink-2 {
    background-color: #FE9494;
}

.statistics-body .pink-text {
    color: #FE9494;
}

.statistics-body .blue {
    background-color: #D3F2F4;
}

.statistics-body .blue-text {
    color: #509BFF;
}


.statistics-body .green {
    background-color: #C9ECC9;
}

.statistics-body .bisque {
    background-color: #E9C9AA;
}

.statistics-body .purple {
    background-color: #DCB1EA;
}

.statistics-body .purple-text {
    color: #C000FF;
}

.statistics-body .fr {
    float: right;
}

.statistics-body .fl {
    float: left;
}

.statistics-body .average-width {
    width: 44%;
}

.statistics-body .reading-count-width {
    width: 100%;
}

.statistics-body .histogram {
    height: 200px;
    position: relative;
    display: inline-block;
}

.statistics-body .axis {
    position: relative;
    display: inline-block;
}

.statistics-body .histogram .data {
    width: 60%;
    margin-left: 20%;
    position: relative;
}

.statistics-body .histogram .number {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
}

.statistics-body #myPieChart {
    width: 100%;
    height: 250px;
}

.statistics-body #myRadarChart {
    width: 100%;
    height: 400px;
}

/*******************statistics summary and ranking buttom****************/


/*******************personal profile top****************/
#personalCenter-page input{
    font-size: 18px;
    height: 39px;
    box-shadow: none;
    border-style: none;
    border-bottom: 1px dashed #D6DEE6;
    padding-left: 0px;
    border-radius: 0px;
}

#personalCenter-page #image-uploader{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-position: 50% 50%;
    background-repeat:  no-repeat;
    background-size: 100% 100%;
}


#personalCenter-page #image-uploader .dz-preview, 
#personalCenter-page #image-uploader .dz-image, 
#personalCenter-page #image-uploader img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#personalCenter-page #image-uploader .dz-error-message {
    left: 2%
}

#personalCenter-page .password-span {
    color: #F22;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}


/*******************personal profile buttom****************/


/*******************personal show top****************/

#personal-show-page .green-text {
    color: #62B87D;
}

#personal-show-page .yellow-text {
    color: #E6C44F;
}

#personal-show-page .purple-text {
    color: #AD7EC0;
}

#personal-show-page .red-text {
    color: #D18054;
}

#personal-show-page .processbar {
    width: 100%;
    height: 25px;
    border-radius: 9px;
}

#personal-show-page .green-processbar {
    background-color: #67D289;
}

#personal-show-page .green-processbar-light {
    background-color: #E1F6E7;
}

#personal-show-page .blue-processbar {
    background-color: #87CCD0;
}

#personal-show-page .blue-processbar-light {
    background-color: #EBF7F8;
}

#personal-show-page .fr {
    float: right;
}

#personal-show-page .fl {
    float: left;
}

#personal-show-page .fish {
    height: 255px;
}

#personal-show-page .ranking {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    position: absolute;
    top: 20%;
    left: 21%;
    color: white;
    font-size: 42px;
    font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
}
#personal-show-page .icon {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

/*******************personal show buttom****************/


.readingCenter-right-body .thinkingTesting .total
{
    color: #BEBEBE;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.readingCenter-right-body .thinkingTesting .question
{
    margin-top: 10px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
}

.readingCenter-right-body .thinkingTesting .option
{
    padding: 5px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.readingCenter-right-body .thinkingTesting .option.active
{
      border: 1px #778BA6 solid;
      background-color: #BEBEBE;
      margin-top: 9px;
      margin-bottom: 9px;
      margin-left: 14px;
      margin-right: 14px;
}

.readingCenter-right-body .thinkingTesting .opContent
{
    padding-top: 10px;
}

.readingCenter-right-body .thinkingTesting .btn-next
{
    text-align: center;
    margin-bottom: 10px;
}

.readingCenter-right-body .thinkingTesting .showResult
{
    padding-left: 15px;
    padding-top: 30px;
}

.readingCenter-right-body .thinkingTesting .isPass
{
    height: 200px;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    padding-top: 50px;
}

.readingCenter-right-body .thinkingTesting .bookName
{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.readingCenter-right-body .thinkingTesting .addCoin
{
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.readingCenter-right-body .thinkingTesting .btn-exam
{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
