
body
{
    background: url(../img/background.jpg) no-repeat fixed center top #b4d6d8;
    padding-top: 50px;
}
/*change placeholder color*/
.navbar .input-group input::-webkit-input-placeholder {
    color: #FFFFFF !important; /* WebKit browsers */
}
.navbar .input-group input:-moz-placeholder {
    color: #FFFFFF !important; /* Mozilla Firefox 4 to 18 */
}
.navbar .input-group input::-moz-placeholder {
    color: #FFFFFF !important; /* Mozilla Firefox 19+ */
}
.navbar .input-group input:-ms-input-placeholder {
    color: #FFFFFF !important; /* Internet Explorer 10+ */
}
a:focus, input:focus
{
    outline: none;
}

/***********navigation top*************************/
.navbar
{
    background-color: #FFFFFF !important;
    padding-top: 5px;
    box-shadow: 0 0px 7px #888888;
}

.navbar a
{
    color:#778BA6;
    font-size: 16px;
    font-weight: 700;
}

.navbar li a:hover, .navbar li a:visited
{
    background-color:transparent;
}

.nav-underline
{
    margin-bottom: 5px;
}

.nav-underline li a:focus
{
    background-color:transparent !important;
    border-bottom: 2px #778BA6 solid;
    margin-bottom: -2px;
}

.nav-underline li.myActive
{
    border-bottom: 2px #778BA6 solid;
    margin-bottom: -2px;
}
/************navigation bottom************************/

/************main-head top************************/


#index-head
{
    margin-top:60px;
}

.index-head-info-text
{
    margin-top: 10px;
    font-size: 14px;
    color: ;
}

.index-head-info-text:first-child
{
    margin-top: 20px;
}

.index-head-info-text:last-child
{
    margin-top: 20px;
    font-size: 16px;
}
/************main-head bottom************************/

/************main-body top************************/
.bodyPart
{
    /*background-color: #EAEAEA;*/
}

.div-tag
{
    margin-top: 40px;
    background-color: white;
}

.tag-margin-blue
{
    border-top: 2px #77B2D0 solid;
}

.tag-margin-green
{
    border-top: 2px #AEC634 solid;
}

.tag-left
{
}

.tag-middle
{
    margin-left: 10px;
}

.tag-right
{
}

.row-title
{
    margin-top:20px;
}

.row-content
{
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px #EAEAEA solid;
}

.row-content-right
{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #EAEAEA solid;
}

.row-title-name
{
    font-size: 16px;
    font-weight: 900;
}

.row-title-finish
{
    font-size: 12px;
    color: #BEBEBE;
}

.row-title-more
{
    font-size: 12px;
    text-align: right;
}

.book-read-readed
{
    text-align: center;
    font-size: 40px;
    color: #AEC634;
    font-weight: 800;
}

.book-read-unread
{
    text-align: center;
    font-size: 40px;
    color: #FF544D;
    font-weight: 800;
}

.enter-game
{
    text-align: center;
    margin-top: 15px;
}

.book-right-text div
{
    font-size: 12px;
    margin-top: 5px;
    margin-left: -10px;
}

.clear-padding
{
    padding: 0;
}

.book-bottom-text div
{
    text-align: center;
    font-size: 11px;
    margin-top: 8px;
}

.book-bottom-text:first-child
{
    margin-left: 10px;
}

.row-activity ul li
{
    margin-bottom: 8px;
}

.row-hot-note div div
{
    margin-bottom: 8px;
}

.row-read-master div div
{
    margin-bottom: 8px;
}

.row-read-master
{
    text-align: center;
}

.read-master-name
{
    font-size: 14px;
    text-align: left;
}

.read-master-count
{
    color: #BEBEBE;
    font-size: 12px;
}
/************main-body bottom************************/

/************readingCenter page******************************/
.sidebar
{
    position: fixed;
    top: 41px;
    bottom: 30px;
    left: 0px;
    z-index: 10;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #5E4F35;
    border-right: 1px solid #EEE;
}

.nav-sidebar li a:hover, .nav-sidebar li a:focus
{
    background-color:transparent !important;
}

.nav-sidebar li.myActive
{
    border-right: 5px #FFFFFF solid;
    z-index: 100;
    background-color: #B8A179;
}

.nav-sidebar 
{
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar a
{
    color: #FFFFFF;
    border-bottom: 1px #FFFFFF solid;
    font-weight: 700;
    padding-top: 5px;
}

.bgLightYellow
{
    background-color: #FFFCFA;

}

.readingCenter-right
{
/*    background-color: #EAEAEA;*/
    margin-top: 20px;
}

.readingCenter-right-top
{
    margin-top: 25px;
}

#myBookshelf-button


.btn-addBook
{
    padding:9px 15px;
    font-size: 18px;
    border: 2px #FFFFFF solid;
    background-color: #FFAF25;
    color: #FFFFFF;
    border-radius:7px;
}

.btn-addBook:hover
{
    background-color: #EB9B00;
    color: #FFFFFF;
}

.btn-addBook:focus
{
    color: #FFFFFF;
    background-color: #FFAF25;
}

.readingCenter-right-body
{
    border-radius:5px;
    border:1px #DDD solid;
    background-color:#FFFFFF;
    padding-top: 15px;
}

#myBookshelfBody-top
{
    border-bottom: 1px #DDD solid;
    margin-left: 15px;
    margin-right: 15px;
}

#myBookshelfBody-center
{
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px #DDD solid;
    padding-bottom: 20px;
}

.select-tab
{
    text-align: center;
    cursor: pointer;
    padding: 15px 0px;
    color:#000000;
}

.select-tab.myActive
{    
    border-bottom: 2px #B6D023 solid;
    color: #B6D023;
}

.bookshelf-book
{
    margin-top: 30px;
}

.mustRead
{
    margin-top: -160%;
    margin-left:60%;
}

.img-padding
{
    padding: 5px 28px 10px 0px; 
}

.fsize12
{
    font-size: 12px;
    margin-bottom: 5px;
}

.readingCenter-right-body .bottom
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

.readingCenter-right-body .bottom:hover
{
    background-color: #EB9B00;
    color: #FFFFFF;
}

/*******************my note top*******************/

.note-row
{
    border-bottom: 1px #DDD solid;
}

.book-row
{
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
}

.book-row-left
{
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    margin-left: 10px;
}

.book-row-left div:last-child
{
    margin-top: 10px;
    padding-bottom: 10px;
}

.book-row-right {
    padding-left: 15px;
    padding-right: 0;
}

.book-row-right .title
{
    font-size: 14px;
    padding-top: 15px;
    font-weight: 600;
}

.book-row-right .time
{
    font-size: 11px;
    padding-top: 5px;
}

.book-row-right .content
{
    font-size: 12px;
    padding-top: 5px;
}

.book-row-right .book-thumbnail
{
    margin-top: 10px;
}

.book-row-right .book-thumbnail div
{
    margin-right: 15px;
}

.book-row-right .msg
{
    cursor: pointer;
    float: right;
    margin-top: -15px;
    font-size: 13px;
}

.msg-buttom{
    cursor: pointer;
    position: absolute; 
    bottom: 0;
    right: 0;
}

.msg-row
{
    margin-left: 25px;
    margin-bottom: 30px;
}

.msg-row .reply
{
    padding-right: 0;
}

.msg-row .reply .total
{
    margin-top: 10px;
    background-color: #E6E6E6;
    border-bottom: 1px #FFFFFF solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.msg-row .reply .block
{
    background-color: #E6E6E6;
}

.msg-row .reply .person
{
    padding-top: 10px;
    color: #7C7C7C;
}

.msg-row .reply .content
{
    padding-top: 7px;
    padding-bottom: 20px;
}

/*******************my note bottom*******************/

/*******************find book top*******************/

.readingCenter-right-body .find
{
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px #DDD solid;
}

/*******************find book bottom*******************/

/*******************quick search top*******************/
.quickSearch, .advancedSearch, .popularSearch
{
    margin-left: 15px;
    margin-right: 15px;
    min-height: 600px;
}

.quickSearch .search, .advancedSearch .search
{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 5%;
    padding-bottom: 10px;
}

.quickSearch .search input, .advancedSearch .search input
{
    border: 1px #FFAF25 solid;
}

.quickSearch .search span, .advancedSearch .search span
{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFAF25;
    color: #FFFFFF;
    cursor: pointer;
}

.quickSearch .search span:hover, .advancedSearch .search span:hover
{
    background-color: #EB9B00;
}

.quickSearch .tip
{
    padding:15px;
}

.quickSearch .multiple .title
{
    color: #087AB8;
    font-size: 25px;
    font-weight: 600;
    padding-top: 70px;
    padding-left: 50px;
}

.quickSearch .multiple .content
{
    padding-top: 15px;
    padding-left: 50px;
}

.quickSearch .advert
{
    padding: 30px;
}
/*******************quick search bottom****************/

/*******************advanced search top****************/

.advancedSearch .condition div
{
	margin-top: 10px;
}

.advancedSearch .condition .type
{
	text-align: right;
	color: #868686;
}


/*******************advanced search bottom****************/

/*******************my evaluate top****************/

#myEvaluating .type
{
	margin-left: 15px;
	margin-right: 15px;	
	border-bottom: 1px solid #DDD;
}

#myEvaluating .content
{
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DDD;
}

#myEvaluating .content .name
{
	padding-top: 20px;
}

#myEvaluating .content .value
{
	color: #BEBEBE;
	text-align: right;
	padding-top: 20px;
}

#myEvaluating .content .count
{
    color: #000000;
}

#myEvaluating .content a
{
    color: #75C9FF;
    cursor: pointer;
}

/*******************my evaluate bottom****************/

/*******************reading dynamic top****************/
#readingDynamic-page {
    padding-top: 50px;
    height: 100%;
}


/*******************reading dynamic buttom****************/

/*******************reading dynamic top****************/
#readingDynamicHotNotes-page {
    padding-top: 50px;
    background-color: #EAEAEA;
    height: 100%;
}


/*******************reading dynamic buttom****************/

/*******************AddBook*****************************/
.readingCenter-right-body .col-md-8
{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #DDD;
}

/*******************my thinking test top****************/
.readingCenter-right-body .thinkingTest,
.readingCenter-right-body .thinkingTesting
{
    color: #2F5682;
}

.readingCenter-right-body .thinkingTest .tagHead,
.readingCenter-right-body .thinkingTesting .tagHead,
.readingCenter-right-body .otherAnswer .tagHead
{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #DDD;
}

.readingCenter-right-body .thinkingTest .title,
.readingCenter-right-body .thinkingTesting .title
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
}

.readingCenter-right-body .thinkingTest .analysis .category,
.readingCenter-right-body .thinkingTesting .analysis .category
{
    color: #BEBEBE;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.readingCenter-right-body .thinkingTest .analysis .lists,
.readingCenter-right-body .thinkingTesting .analysis .lists,
.readingCenter-right-body .otherAnswer .lists
{
    padding-left: 15px;
    padding-right: 30px;
}

.readingCenter-right-body .thinkingTest .analysis .lists .list,
.readingCenter-right-body .thinkingTesting .analysis .lists .list,
.readingCenter-right-body .otherAnswer .lists .list
{
    padding-bottom: 30px;
}

.readingCenter-right-body .thinkingTest .analysis .list .theme,
.readingCenter-right-body .thinkingTesting .analysis .list .theme
{
    font-size: 16px;
    font-weight: 900;
    padding-top: 20px;
    margin-bottom: 10px;
}

.readingCenter-right-body .thinkingTest .analysis .list .content
{
    line-height: 22px;
}

.readingCenter-right-body .thinkingTest .analysis .list .other
{
    color: #75C9FF;
    text-align: right;
}

/*******************my thinking test bottom****************/

/*******************other answer top****************/
.readingCenter-right-body .otherAnswer
{
    color: #2F5682;
}

.readingCenter-right-body .otherAnswer .title
{
    padding-left: 15px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 900;
}

.readingCenter-right-body .otherAnswer .lists
{
    padding-bottom: 30px;
}

.readingCenter-right-body .otherAnswer .list .theme
{
    color: #BEBEBE;
}

.readingCenter-right-body .otherAnswer .list .content
{
    line-height: 22px;
}

/*******************other answer bottom****************/

/*******************message center top****************/

#messageCenter-page {
}

.messageCenter-body .modal-content .modal-title{
    margin-bottom: 15px;
}

.messageCenter-body .modal-content .radio{
    padding-bottom: 23px;
}

.messageCenter-body .modal-content .select-group{
    padding-bottom: 16px;
}

.messageCenter-body .modal-content .select-label{
    line-height: 34px;
}

.messageCenter-body .modal-content .message-input{
    height: 140px;
}

/*******************message center buttom****************/

/*******************reading dynamic top****************/

.student-rank {
    bottom: -10%;
    right: -10%;
    position: absolute;
}

/*******************reading dynamic buttom****************/

