
body
{
    margin-left:auto;
    margin-right:auto;
    background:url(../img/background.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    /*for navbar*/
    padding-top: 50px;
}
/***********navigation top*************************/
.navbar
{
    background-color: #71BEE8;
}

.navbar a
{
    color:White;
}

.navbar li a:hover
{
    background-color:transparent;
}

.navbar li a:focus
{
    background-color:transparent;
}

.nav-underline li a:hover
{    
    border-bottom: 2px White solid;
    margin-bottom: -2px;
}
/************navigation bottom************************/

/************index-head top************************/


#index-head
{
    padding-top:20px;
}

.index-head-info-text
{
    margin-top: 10px;
    font-size: 14px;
    color: ;
}

.index-head-info-text:first-child
{
    margin-top: 20px;
}

.index-head-info-text:last-child
{
    margin-top: 20px;
}
/************index-head bottom************************/

/************index-body top************************/
.bodyPart
{
    background-color: #EAEAEA;
}

.div-tag
{
    margin-top: 20px;
    background-color: white;
}

.tag-margin-blue
{
    border-top: 2px #77B2D0 solid;
}

.tag-margin-green
{
    border-top: 2px #AEC634 solid;
}

.tag-left
{
}

.tag-middle
{
    margin-left: 10px;
}

.tag-right
{
}

.row-title
{
    margin-top:20px;
}

.row-content
{
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px #EAEAEA solid;
}

.row-content-right
{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #EAEAEA solid;
}

.row-title-name
{
    font-size: 16px;
    font-weight: 900;
}

.row-title-finish
{
    font-size: 12px;
    color: #BEBEBE;
}

.row-title-more
{
    font-size: 12px;
    text-align: right;
}

.book-read-readed
{
    text-align: center;
    font-size: 40px;
    color: #AEC634;
    font-weight: 800;
}

.book-read-unread
{
    text-align: center;
    font-size: 40px;
    color: #FF544D;
    font-weight: 800;
}

.enter-game
{
    text-align: center;
    margin-top: 15px;
}

.book-right-text div
{
    font-size: 11px;
    margin-top: 3px;
    margin-left: -10px;
}

.clear-padding
{
    padding: 0;
}

.book-bottom-text div
{
    text-align: center;
    font-size: 11px;
    margin-top: 8px;
}

.book-bottom-text:first-child
{
    margin-left: 10px;
}

.row-activity ul li
{
    margin-bottom: 8px;
}

.row-hot-note div div
{
    margin-bottom: 8px;
}

.row-read-master div div
{
    margin-bottom: 8px;
}

.row-read-master
{
    text-align: center;
}

.read-master-name
{
    font-size: 14px;
    text-align: left;
}

.read-master-count
{
    color: #BEBEBE;
    font-size: 12px;
}
/************index-body bottom************************/

