.prizeTitle {

    font-size: large;
    margin-top: 4px;

}

.bottom-separator {
    border-bottom: 1px #D6DEE6 solid;
    margin-top: 45px;
}

.giftRow {
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px #D6DEE6 solid;
}

.giftImg {
    margin-top: -25px;
    height: 80px;
}

.giftRedeem {
    text-align: center;
}

.yellow-text {
    color: #E6C44F;
}

.giftCoin {
    color: rgba(128, 128, 128, 0.8);
    font-size: 14px;
}

.giftAdv {
    color: rgb(139, 153, 176);
    font-size: 8px;    
}
