<div class="messageCenter-page container">
    <div class="row">
	<div class="col-md-2"></div>
	<div class="messageCenter-body col-md-8">
        <div class="title"><h4>消息中心</h4></div>
        <ul class="nav nav-tabs row">
          <li role="presentation" class="active"><a href="#">收到的消息</a></li>
          <li role="presentation"><a href="#">发出的消息</a></li>
        </ul>
        <div class="message-row row" ng-repeat="n in [1,2,3,4,5,6,7,8,9,20]">
            <div class="col-md-6">
                <div class="row">
                <div class="col-md-1">
                    <input type="checkbox"/>
                </div>
                <div class="col-md-10">收到的信息收到的信息收到的信息收到的信息</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 col-md-offset-3">发件人:张山风</div>
                    <div class="col-md-3">2014-6-9</div>
                    <div class="col-md-1">风</div>
                </div>
            </div>
        </div>
        <div class="row footer-elements">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-2"><input type="checkbox"/></div>
                    <div class="col-md-5">全选</div>
                    <div class="col-md-5">删除</div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2">全部已读</div>
                    <div class="col-md-7">
                        <div class="row page-number-collection">
                            <div class="col-md-3">上一页</div>
                            <div class="col-md-1 page-number" ng-repeat="n in [1,2,3,4,5,6,7,8,15]">{{n}}</div>
                            <div class="col-md-3">下一页</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">去第<input type="text" class="page-number-input" />页</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>
	<div class="col-md-1"></div>
    </div>
</div>
<script>
//	SetReadingCenterRightHeight();
</script>