<div id="personalCenter-page" class="container">
    <div class="row">
    <div class="page-body page-body-top personalProfile-body col-md-8 col-md-offset-2">
    <div class="col-md-12">
        
        <!-- Avatar -->
        <div class="title col-md-12"><h4>个人中心</h4></div>
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <img ng-src="../static/img/picture.jpg" class="img-responsive img-circle border-shadow" src="../static/img/picture.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2>张晓晨</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <a>修改头像</a>
                </div>
            </div>
        </div>
        
        <!-- Basic information -->
        <div class="title row buttom-separator">
            <div class="col-md-11"><h4>基本信息</h4></div>
        </div>
    
        <div class="col-md-12">
        <div class="row" ng-repeat="n in [2,3,4,5,6]">
            <div class="col-md-2 text-right">
                <div class="row"><h4>账号：</h4></div>
            </div>
            <div class="col-md-9 text-left">
                        <h4>张晓晨</h4>
<!--                <input type="text" class="form-control dark-blue-2" value="张晓晨" id="exampleInputName2" placeholder="Jane Doe">-->
            </div>
        </div>
        </div>
        <!-- Place holder -->
        <div class="row title"/>
        
        <!-- Personal information -->
        <div class="title row buttom-separator">
            <div class="col-md-10"><h4>个人资料</h4></div>
            <div class="col-md-2 text-right">
                <div class="row">
                    <a class="title-link" ng-show="!editable" ng-click="toggleEdit()">编辑</a>
                    <a class="title-link" ng-show="editable" ng-click="toggleEdit()">取消</a>
                    <a class="title-link" ng-show="editable" ng-click="toggleEdit()">保存</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-12">
        <div class="row" ng-repeat="n in [2,3,4,5,6]">
            <div class="col-md-2 text-right">
                <div class="row"><h4>账号：</h4></div>
            </div>
            <div class="col-md-9 text-left">
                <h4 ng-show="!editable" >张晓晨</h4>
                <input ng-show="editable" type="text" class="form-control dark-blue-2 theme-font" value="张晓晨" id="exampleInputName2" placeholder="Jane Doe">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2 text-right">
                <div class="row"><h4>账号：</h4></div>
            </div>
            <div class="col-md-9 text-left">
                        <h4>张晓晨</h4>
<!--                <input type="text" class="form-control dark-blue-2" value="张晓晨" id="exampleInputName2" placeholder="Jane Doe">-->
            </div>
        </div>
        </div>
        <!-- Place holder -->
        <div class="row title"/>
        
        <!-- Security setting -->
        <div class="title row buttom-separator">
            <div class="col-md-11"><h4>安全设置</h4></div>
        </div>
    
        <div class="col-md-12">
        <div class="row" ng-repeat="n in [2,3,4,5,6]">
            <div class="col-md-2 text-right">
                <div class="row"><h4>账号：</h4></div>
            </div>
            <div class="col-md-9 text-left">
<!--                        <h4>张晓晨</h4>-->
                <input type="text" class="form-control dark-blue-2 theme-font" value="张晓晨" id="exampleInputName2" placeholder="Jane Doe">
            </div>
            <div class="col-md-1 text-right"><div class="row"><a class="title-link">编辑</a></div></div>

        </div>
        
        <div class="row">
            <div class="col-md-2 text-right">
                <div class="row"><h4>账号：</h4></div>
            </div>
            <div class="col-md-9 text-left">
                        <h4>张晓晨</h4>
<!--                <input type="text" class="form-control dark-blue-2" value="张晓晨" id="exampleInputName2" placeholder="Jane Doe">-->
            </div>
            <div class="col-md-1 text-right"><div class="row"><a class="title-link">编辑</a></div></div>

        </div>
        </div>
        <!-- Place holder -->
        <div class="row title"/>
    
    </div>    
    </div>
    </div>
</div>
<script>
</script>
