<div class="readingCenter-right">
	<div class="col-md-8 col-md-offset-2">
		<div class="row page-body page-body-top  readingCenter-right-body container-fluid">

            <div class="col-md-2 prizeTitle"><p>已兑换商品</p></div>

            <div class="col-md-offset-8 col-md-2"><a class = "btn btn-green" type="button">去商城兑换</a></div>

        <div class="row bottom-separator"></div>


<!--            <a class = "btn btn-sm btn-green" type="button">去商城兑换</a>-->
            <div>
            <div class = "row giftRow" >
                <div class="col-md-5">
                    <div class="row ">
                        <div class="col-md-4 giftImg"><img src="../static/img/giftCenter/helookettyBag.png"></div> 
                        <div class="col-md-5">Helloo ketty 书包</div>
                    </div>
                </div>

                <div class="col-md-2">兑换数量：</div>
                <div class="col-md-3">兑换时间：</div>
                <div class="col-md-2">已发货</div>
            </div>
            
            </div>
             
        </div>

	</div>
</div>
