<div class="readingCenter-right">
	<div class="col-md-1"></div>
	<div class="col-md-9">
		<div class="readingCenter-right-top">
			<img src="../static/img/myBookshelf.jpg" class="img-responsive img-rounded">
			<div class="row">
				<div class="col-md-9"></div>
				<div id="myBookshelf-button" class="col-md-3">
					<a class="btn btn-addBook" href="#readingCenter/addBook">+ 我要选书</a>
				</div>
			</div>
		</div>
		<div class="readingCenter-right-body">
			<div id="myBookshelfBody-top" class="row">
				<div class="col-md-2 bookshelf-tab">未认证书单(20)</div>
				<div class="col-md-2 bookshelf-tab">已认证书单(15)</div>
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
			</div>
			<div id="myBookshelfBody-center" class="row">
				<div class="col-md-4 bookshelf-book clear-padding">
					<div class="col-md-6">
						<div><img src="../static/img/book.jpg" class="img-responsive"></div>
						<div class="col-md-9 col-md-offset-5 mustRead"><img src="../static/img/mustRead.jpg" class="img-responsive img-circle"></div>
					</div>
					<div class="col-md-6">
						<div class="fsize12"><h4>查理日记</h4></div>
						<div class="fsize12">作者：张敬轩</div>
						<div class="fsize12">积分：90</div>
						<div><button type="button" class="btn btn-green">测试训练 <b class="caret"></b></button></div>
						<div>
							<div class="col-md-5 img-padding"><img src="../static/img/write.jpg" class="img-responsive"></div>
							<div class="col-md-5 img-padding"><img src="../static/img/read.jpg" class="img-responsive"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 bookshelf-book clear-padding">
					<div class="col-md-6">
						<div><img src="../static/img/book.jpg" class="img-responsive"></div>
						<div class="col-md-9 col-md-offset-5 mustRead"><img src="../static/img/mustRead.jpg" class="img-responsive img-circle"></div>
					</div>
					<div class="col-md-6">
						<div class="fsize12"><h4>查理日记</h4></div>
						<div class="fsize12">作者：张敬轩</div>
						<div class="fsize12">积分：90</div>
						<div><button type="button" class="btn btn-green">测试训练 <b class="caret"></b></button></div>
						<div>
							<div class="col-md-5 img-padding"><img src="../static/img/write.jpg" class="img-responsive"></div>
							<div class="col-md-5 img-padding"><img src="../static/img/read.jpg" class="img-responsive"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 bookshelf-book clear-padding">
					<div class="col-md-6">
						<div><img src="../static/img/book.jpg" class="img-responsive"></div>
						<div class="col-md-9 col-md-offset-5 mustRead"><img src="../static/img/mustRead.jpg" class="img-responsive img-circle"></div>
					</div>
					<div class="col-md-6">
						<div class="fsize12"><h4>查理日记</h4></div>
						<div class="fsize12">作者：张敬轩</div>
						<div class="fsize12">积分：90</div>
						<div><button type="button" class="btn btn-green">测试训练 <b class="caret"></b></button></div>
						<div>
							<div class="col-md-5 img-padding"><img src="../static/img/write.jpg" class="img-responsive"></div>
							<div class="col-md-5 img-padding"><img src="../static/img/read.jpg" class="img-responsive"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 bookshelf-book clear-padding">
					<div class="col-md-6">
						<div><img src="../static/img/book.jpg" class="img-responsive"></div>
						<div class="col-md-9 col-md-offset-5 mustRead"><img src="../static/img/mustRead.jpg" class="img-responsive img-circle"></div>
					</div>
					<div class="col-md-6">
						<div class="fsize12"><h4>查理日记</h4></div>
						<div class="fsize12">作者：张敬轩</div>
						<div class="fsize12">积分：90</div>
						<div><button type="button" class="btn btn-green">测试训练 <b class="caret"></b></button></div>
						<div>
							<div class="col-md-5 img-padding"><img src="../static/img/write.jpg" class="img-responsive"></div>
							<div class="col-md-5 img-padding"><img src="../static/img/read.jpg" class="img-responsive"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 bookshelf-book clear-padding">
					<div class="col-md-6">
						<div><img src="../static/img/book.jpg" class="img-responsive"></div>
						<div class="col-md-9 col-md-offset-5 mustRead"><img src="../static/img/mustRead.jpg" class="img-responsive img-circle"></div>
					</div>
					<div class="col-md-6">
						<div class="fsize12"><h4>查理日记</h4></div>
						<div class="fsize12">作者：张敬轩</div>
						<div class="fsize12">积分：90</div>
						<div><button type="button" class="btn btn-green">测试训练 <b class="caret"></b></button></div>
						<div>
							<div class="col-md-5 img-padding"><img src="../static/img/write.jpg" class="img-responsive"></div>
							<div class="col-md-5 img-padding"><img src="../static/img/read.jpg" class="img-responsive"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 bookshelf-book clear-padding">
					<div class="col-md-6">
						<div><img src="../static/img/book.jpg" class="img-responsive"></div>
						<div class="col-md-9 col-md-offset-5 mustRead"><img src="../static/img/mustRead.jpg" class="img-responsive img-circle"></div>
					</div>
					<div class="col-md-6">
						<div class="fsize12"><h4>查理日记</h4></div>
						<div class="fsize12">作者：张敬轩</div>
						<div class="fsize12">积分：90</div>
						<div><button type="button" class="btn btn-green">测试训练 <b class="caret"></b></button></div>
						<div>
							<div class="col-md-5 img-padding"><img src="../static/img/write.jpg" class="img-responsive"></div>
							<div class="col-md-5 img-padding"><img src="../static/img/read.jpg" class="img-responsive"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="myBookshelfBody-bottom">更多加载中...</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<script>
	SetBookList();
	SetReadingCenterRightHeight();
</script>