<div class="readingCenter-right">
	<div class="col-md-8 col-md-offset-2">
		<div class="row readingCenter-right-top"></div>
		<div class="row readingCenter-right-body">
			<div class="otherAnswer">
				<div class="row tagHead">
					我的测试->思维训练《{{bookName}}》->其他人的回答
				</div>
				<div class="title">
					{{answer[0].question.topic}}
				</div>
				<div class="lists">
					<div class="list" ng-repeat="item in answer">
						<!--<div class="theme">我的回答：</div>-->
						<div class="content">{{item.content}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<script>
	SetReadingCenterRightHeight();
</script>