<div class="readingCenter-right">
	<div class="col-md-8 col-md-offset-2">
		<div class="row readingCenter-right-top"></div>
		<div class="row readingCenter-right-body">
			<div class="thinkingTest">
				<div class="row tagHead">
					我的测评->思维训练
				</div>
				<div class="title">{{selectThinkExam.name}}</div>
				<div class="analysis" ng-repeat="item in answers">
					<div class="category">
						{{item.type}}
					</div>
					<div class="lists" ng-repeat="item1 in item.array">
						<div class="list">
							<div class="theme">{{item1.question.topic}}</div>
							<div class="content">{{item1.content}}</div>
							<div class="other">
								<a href="#readingCenter/myEvaluating/otherAnswer/{{item1.question.id}}">查看其他人的回答></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<script>
	SetReadingCenterRightHeight();
</script>