<div class="readingCenter-right">
	<div class="col-md-10 col-md-offset-1">
		<div class="row readingCenter-right-top"></div>
		<div class="row readingCenter-right-body">
			<div class="thinkingTest">
				<div class="row tagHead">
					我的测评->思维训练
				</div>
				<div class="title">《老人与海》</div>
				<div class="analysis">
					<div class="category">
						整合分析
					</div>
					<div class="lists">
						<div class="list">
							<div class="theme">威尔伯和夏洛之间的深厚友谊是怎么一步一步建立起来的？</div>
							<div class="content">在无情的斗争和残酷的失败中，老人表现得坦然和无畏，正如他所说的“你尽可把他消灭掉，可就是打不败他”。他在不幸的存在状态中，实现了人性，勇敢和尊严的价值，表现了人的意义，体现了人的伟大和英雄本色，也可以说体现了生命存在的价值。因为在屡败屡战中，我们看到的不仅是一个活生生的人，更是一个英雄，一个精神上的胜利者。</div>
							<div class="other">
								<a href="#readingCenter/myEvaluating/otherAnswer">查看其他人的回答></a>
							</div>
						</div>
						<div class="list">
							<div class="theme">威尔伯和夏洛之间的深厚友谊是怎么一步一步建立起来的？</div>
							<div class="content">在无情的斗争和残酷的失败中，老人表现得坦然和无畏，正如他所说的“你尽可把他消灭掉，可就是打不败他”。他在不幸的存在状态中，实现了人性，勇敢和尊严的价值，表现了人的意义，体现了人的伟大和英雄本色，也可以说体现了生命存在的价值。因为在屡败屡战中，我们看到的不仅是一个活生生的人，更是一个英雄，一个精神上的胜利者。</div>
							<div class="other">
								<a href="#readingCenter/myEvaluating/otherAnswer">查看其他人的回答></a>
							</div>
						</div>
					</div>
				</div>
				<div class="analysis">
					<div class="category">
						<hr>
						推理判断
					</div>
					<div class="lists">
						<div class="list">
							<div class="theme">威尔伯和夏洛之间的深厚友谊是怎么一步一步建立起来的？</div>
							<div class="content">在无情的斗争和残酷的失败中，老人表现得坦然和无畏，正如他所说的“你尽可把他消灭掉，可就是打不败他”。他在不幸的存在状态中，实现了人性，勇敢和尊严的价值，表现了人的意义，体现了人的伟大和英雄本色，也可以说体现了生命存在的价值。因为在屡败屡战中，我们看到的不仅是一个活生生的人，更是一个英雄，一个精神上的胜利者。</div>
							<div class="other">
								<a href="#readingCenter/myEvaluating/otherAnswer">查看其他人的回答></a>
							</div>
						</div>
						<div class="list">
							<div class="theme">威尔伯和夏洛之间的深厚友谊是怎么一步一步建立起来的？</div>
							<div class="content">在无情的斗争和残酷的失败中，老人表现得坦然和无畏，正如他所说的“你尽可把他消灭掉，可就是打不败他”。他在不幸的存在状态中，实现了人性，勇敢和尊严的价值，表现了人的意义，体现了人的伟大和英雄本色，也可以说体现了生命存在的价值。因为在屡败屡战中，我们看到的不仅是一个活生生的人，更是一个英雄，一个精神上的胜利者。</div>
							<div class="other">
								<a href="#readingCenter/myEvaluating/otherAnswer">查看其他人的回答></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<script>
	SetReadingCenterRightHeight();
</script>