<div class="quickSearch">
	<div class="input-group search">
		<input type="text" class="form-control" placeholder="请输入书名">
		<span class="input-group-addon">搜索</span>
	</div>
	<div class="tip">
		请输入您想要查找图书的关键词，例如，想要查找金庸的著作和关于金庸的书籍，可以输入“金庸”关键字。如果您期望搜索的结果精确，请尽可能地输入接近您想查找的内容的关键字，例如，要查找“战争与和平”，请输入“战争与和平”。如果您想获得更大范围的搜索结果，请输入短且命中率高的关键字，例如，要查找关于“sql server”的图书，请输入“sql”。
	</div>
	<div class="multiple row">
		<div class="col-md-8">
			<div class="title">如何快速知道想要的书呢？</div>
			<div class="content">查询同时匹配多个关键词的内容，请将关键词用&分隔，如关键字：“中国&北京”会将所有包含“中国”并且包含“北京”的页面搜索出来。</div>
		</div>
		<div class="col-md-4">
			<img src="../static/img/quickSearch.jpg" class="img-responsive">
		</div>
	</div>
	<div class="advert">
		<img src="../static/img/advert.jpg" class="img-responsive">
	</div>
</div>