<div id="readingCenter-page" class="bgLightYellow">
	<div class="row">
		<div class="col-md-2 sidebar">
			<div class="list-group">
  				<!--<a class="list-group-item" ui-sref='.myBookshelf'>我的书架</a>
  				<a class="list-group-item" ui-sref='.myNote'>我的笔记</a>
  				<a class="list-group-item" ui-sref='.myEvaluating'>我的测试</a>-->
  				<ul class="nav nav-sidebar">
  					<li><a class="list-group-item" ui-sref='.myBookshelf'>我的书架</a></li>
  					<li><a class="list-group-item" ui-sref='.myNote'>我的笔记</a></li>
  				<li><a class="list-group-item" ui-sref='.myEvaluating'>我的测试</a></li>
  				</ul>
			</div>
		</div>
		<div class="col-md-10 list-right">
			<div ui-view></div>
		</div>
	</div>
</div>
<script>
	ReadingCenterLeftNav();
	SetReadingCenterBodyHeight();
</script>