<div class="readingCenter-right">
	<div class="col-md-1"></div>
	<div class="col-md-9">
		<div class="readingCenter-right-top">
			<img src="../static/img/myNote.jpg" class="img-responsive img-rounded">
		</div>
		<div class="readingCenter-right-body clear-padding">
			<div class="note-row"  ng-repeat="Note in Notes.content">
				<div class="row book-row">
					<div class="col-md-2 book-row-left">
						<div><img src="../static/img/book.jpg" class="img-responsive"></div>
						<div class="col-md-9 col-md-offset-5 mustRead" ng-show='showMust'>
							<img src="../static/img/mustRead.jpg" class="img-responsive img-circle">
						</div>
						<div>查理日记</div>
					</div>
                    <div class="col-md-1"></div> 
					<div class="col-md-9 book-row-right">
						<div class="title">{{ Note.title }}</div>
						<div class="time">{{ Note.creationTime }}</div>
						<div class="content">{{ Note.content }}</div>
						<div class="book-thumbnail">
							<div class="col-md-1 clear-padding">
								<img src="../static/img/note.jpg" class="img-responsive">
							</div>
							<div class="col-md-1 clear-padding">
								<img src="../static/img/note.jpg" class="img-responsive">
							</div>
						</div>
						<div class="msg-buttom" ng-click="ShowComments(Note)"><span class="glyphicon glyphicon-comment"></span> 6</div>
					</div>
				</div>
				<div class="row msg-row" ng-show="Note.showComments">
					<div class="col-md-9"><input class="form-control" placeholder="输入回复" ng-model="Note.newCommentContent"></div>
					<input class="btn btn-green col-md-2" ng-click="addComment(Note)" type="button" value="发表评论">
					<div class="clearfix"></div>
					<div class="col-md-11 reply">
						<div class="col-md-12 total">共1条评论</div>
						<div class="col-md-12 block" ng-repeat="Comment in Note.Comments.content">
							<div class="person">张逸轩&nbsp;&nbsp;&nbsp;三天前</div>
							<div class="content">{{Comment.content}}</div>
						</div>
					</div>
				</div>
			</div>
            
			<div class="bottom" ng-click="ShowMoreNotes()">{{ loadingState }}</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<script>
	SetReadingCenterRightHeight();
</script>