<div class="readingCenter-right">
	<div class="col-md-8 col-md-offset-2">
		<div class="row readingCenter-right-top"></div>
		<div class="row readingCenter-right-body">
			<div class="thinkingTesting">
				<div class="row tagHead">
					我的书架 > 思维训练
				</div>
				<div class="title">{{bookName}}</div>
				<div class="analysis">
					<!--<div class="category">
						整合分析
					</div>-->
					<div class="lists">
						<div class="list" ng-repeat="item in questions">
							<div class="theme">{{item.topic}}</div>
							<div>
							<textarea class="txt-content" rows="4" placeholder="正文（不少于20字）">{{item.content}}</textarea>
							</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<script>
	SetReadingCenterRightHeight();
</script>