<div class="readingCenter-right">
	<div class="col-md-10 col-md-offset-1">
		<div class="row readingCenter-right-top">
			<div class="col-md-4"><img src="../static/img/myEvaluating.png" class="img-responsive img-rounded"></div>
		</div>
		<div id="myEvaluating" class="row readingCenter-right-body">
			<div class="type row">
				<div class="col-md-2 select-tab myActive" ng-click="showCertification()">认证测试</div>
				<div class="col-md-2 select-tab" ng-click="showWord()">词汇训练</div>
				<div class="col-md-2 select-tab" ng-click="showThinking()">思维训练</div>
			</div>
			<div ng-show="isCertification">
				<div class="content row">
					<div class="col-md-1"><img src="../static/img/book.jpg" class="img-responsive"></div>
					<div class="col-md-2 name">查理日记</div>
					<div class="col-md-5 value">
						财富值：90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						积分：90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						正确率：80&nbsp;&nbsp;
					</div>
					<div class="col-md-1 value">
						<a>评价</a>
					</div>
					<div class="col-md-3 value">测试时间：2014.12.5</div>
				</div>
			</div>
			<div ng-show="isWord">
				<div class="content row">
					<div class="col-md-1"><img src="../static/img/book.jpg" class="img-responsive"></div>
					<div class="col-md-2 name">查理日记</div>
					<div class="col-md-5 value">
						财富值：90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						积分：90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						正确率：80&nbsp;&nbsp;
					</div>
					<div class="col-md-1 value">
						<a>评价</a>
					</div>
					<div class="col-md-3 value">测试时间：2014.12.5</div>
				</div>
			</div>
			<div ng-show="isThinking">
				<div class="content row">
					<div class="col-md-1"><img src="../static/img/book.jpg" class="img-responsive"></div>
					<div class="col-md-2 name">查理日记</div>
					<div class="col-md-3 value count">问答题目数：9/10</div>
					<div class="col-md-3 value"><a href="#readingCenter/myEvaluating/myAnswers">查看我的回答</a></div>
					<div class="col-md-3 value">测试时间：2014.12.5</div>
				</div>
			</div>
			<div class="bottom">更多加载中...</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<script>
	SetBookList();
	SetReadingCenterRightHeight();
</script>