<div class="readingCenter-right">
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-9">
		<div class="readingCenter-right-body">
           <div class="row ">
               <div class="col-md-12 addBookNavigation">
                <p class="cramb">
                <a href="index.html#/readingCenter/myBookshelf">我的书架</a> 
                   > {{bookDetails}}
                </p>
            </div>
            </div>

			<div ui-view></div>
		  </div><!--readingCenter Body-->
		  
	</div>
	<div class="col-md-1"></div>
	
</div>
</div>