<div class="readingCenter-right">
	<div class="col-md-8 col-md-offset-2">
		<div class="row readingCenter-right-top"></div>
		<div class="row readingCenter-right-body">
			<div class="thinkingTesting">
				<div class="row tagHead">
					{{title}}
				</div>
				<div class="title">{{bookName}}</div>
				<div class="total">一共{{total}}题，现在是第{{now + 1}}题</div>
				<div class="question">{{current + questions.current.topic}}</div>
				<div class="row option">
					<div class="col-md-1"><img src="../static/img/rank/Arank.jpg" class="img-circle"></div>
					<div class="col-md-10 opContent">{{questions.current.options[0]}}</div>
				</div>
				<div class="row option">
					<div class="col-md-1"><img src="../static/img/rank/Brank.jpg" class="img-circle"></div>
					<div class="col-md-10 opContent">{{questions.current.options[1]}}</div>
				</div>
				<div class="row option">
					<div class="col-md-1"><img src="../static/img/rank/Crank.jpg" class="img-circle"></div>
					<div class="col-md-10 opContent">{{questions.current.options[2]}}</div>
				</div>
				<div class="row option">
					<div class="col-md-1"><img src="../static/img/rank/Drank.jpg" class="img-circle"></div>
					<div class="col-md-10 opContent">{{questions.current.options[3]}}</div>
				</div>
				<div class="btn-next">
					<button class="btn btn-green" ng-click="nextQuestion()">
                		下一题
            		</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<script>
	SetReadingCenterRightHeight();
	SetOption();
</script>