<!--AdvancedSearch-->
<div class="advancedSearch">
	<div class="input-group search">
		<input type="text" class="form-control" placeholder="请输入书名">
		<span class="input-group-addon" ng-click="search()">搜索</span>
	</div>
	<div class="condition" ng-show="showCondition">
		<div class="row">
			<div class="col-md-2 type">级别：</div>
			<div class="col-md-2">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 type">测试训练：</div>
			<div class="col-md-2">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 type">类型：</div>
			<div class="col-md-2">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 type">年龄：</div>
			<div class="col-md-2">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 type">积分：</div>
			<div class="col-md-2">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 type">语言：</div>
			<div class="col-md-2">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 type">配套资源：</div>
			<div class="col-md-2">
				
			</div>
		</div>
	</div>
</div>