<div class="readingCenter-right">
	<div class="col-md-1"></div>
	<div class="col-md-9">
		<div class="row readingCenter-right-top"></div>
		<div class="readingCenter-right-body">
			<div class="thinkingTesting">
				<div class="row tagHead">
					我的书架->测试结果
				</div>
				<div class="showResult">您好，测试结果是:</div>
				<div class="isPass">未通过</div>
				<div class="bookName">{{name}}</div>
				<div class="addCoin"></div>
				<div class="btn-exam"><a class="btn btn-fill-green btn-lg">再考一次</a></div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<script>
	SetReadingCenterRightHeight();
</script>