<div id="statistics-page" class="container">
    <div class="row">
	<div class="page-body page-body-top statistics-body readingCenter-right-body col-md-10 col-md-offset-1">
         <!-- Nav tabs -->
        <div class="row buttom-separator">
        <div class="col-md-10">
            <div class="row">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#statisticsSummary" aria-controls="statisticsRanking" role="tab" data-toggle="tab">统计分析</a></li>
                <li role="presentation" class="active"><a href="#statisticsRanking" aria-controls="statisticsRanking" role="tab" data-toggle="tab">班级阅读达人</a></li>
            </ul>
            </div>
        </div>
        </div>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="col-md-12 title">
            <div role="tabpanel" class="tab-pane fade in active" id="receive">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th>名次</th>
                    <th>姓名</th>
                    <th>积分</th>
                    <th>财富</th>
                    <th>等级</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="n in [1,2,3,4,5,6,7,8,9]">
                    <td>{{n}}</td>
                    <td>顾小北</td>
                    <td>233</td>
                    <td>90</td>
                    <td>2</td>
                  </tr>
                  <tr>
                </tbody>
              </table>
            </div>
            </div>
        </div>
        
	</div>
    </div>
</div>
<script>
</script>