<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-7">
		<div class="myBlock mt30 row">
			<div class="col-md-2 index-left-info">
				<img class="img-responsive img-circle" src="../static/img/head.jpg">
			</div>
			<div class="col-md-8">
				<div class="index-rigth-name">{{student.username}}老师</div>
				<div class="index-rigth-class">
					中学&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					班级&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					语文老师
				</div>
			</div>
		</div>
		<div class="myBlock mt20 book-style row">
			<div class="head row">
				<div class="col-md-4">学科资源数据</div>
				<div class="col-md-2"></div>
			</div>
			<div class="body row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<img class="img-responsive" src="../static/img/subject/chinese.jpg">
					<div>语文：33本</div>
				</div>
				<div class="col-md-2">
					<img class="img-responsive" src="../static/img/subject/math.jpg">
					<div>数学：33本</div>
				</div>
				<div class="col-md-2">
					<img class="img-responsive" src="../static/img/subject/english.jpg">
					<div>英语：33本</div>
				</div>
				<div class="col-md-2">
					<img class="img-responsive" src="../static/img/subject/science.jpg">
					<div>科学：33本</div>
				</div>
				<div class="col-md-2">
					<img class="img-responsive" src="../static/img/subject/other.jpg">
					<div>其他：33本</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		<div class="myBlock mt20 book-style row">
			<div class="head row">
				<div class="col-md-4">我推荐的书</div>
				<div class="col-md-8">更多></div>
			</div>
			<div class="body row">
				<div class="col-md-3 index-image-padding">
					<img class="img-responsive custom-shadow" src="http://images.sunreading.cn/bookscover/1429359205402jingweitianhai.jpg">
					<div>精卫填海</div>
				</div>
			</div>
		</div>
		<div class="myBlock mt20 book-style row">
			<div class="head row">
				<div class="col-md-4">热门推荐</div>
				<div class="col-md-8">更多></div>
			</div>
			<div class="body row">
				<div class="col-md-3 index-image-padding">
					<img class="img-responsive custom-shadow" src="http://images.sunreading.cn/bookscover/1429359205402jingweitianhai.jpg">
					<div>精卫填海</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3" style="margin-left:20px">
		<div class="myBlock mt30 row">
			<div class="head row">
				<div class="col-md-4">正在发生</div>
				<div class="col-md-8"></div>
			</div>
			<div class="body row">
				
			</div>
		</div>
	</div>
</div>
