<!-- Header bar -->
<div class="myBlock mt30 page-body">
    <div class="container-fluid"><div class="container-fluid">
    <div class="row">
        <div class="row-same-height">
            <div class="col-xs-8 col-xs-height">
                <h5 class="title"><big><a ng-href="#/teachingCenter/addBook" class="dark-gray-2">我要推荐</a></big><big> > </big><big>加入书架</big>
                  <big><span class="alignRight">{{book.name}}</span></big>
                </h5>

            </div>
            <!-- <div class="col-xs-4 col-xs-height col-middle">
                <button class="btn btn-fill-blue pull-right" type="button" ng-click="bookshelfLoadable.publish()">
                    加入书架
                </button>
            </div> -->
        </div>
    </div>
    </div></div>
</div>

<!-- Options -->
<!-- <div class="mt20 page-body">
    <div class="container-fluid"><div class="container-fluid">
    <div class="row">
        <div class="row-same-height">
            <div class="col-xs-1 col-xs-height" style="width:12%">
                <h5 class="text-right"><input type="checkbox" ng-model="bookshelfLoadable.selectAllValue" ng-click="bookshelfLoadable.selectAll()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全选</h5>
            </div>
            <div class="col-xs-1 col-xs-height">
                <h5 class="text-right">学校：</h5>
            </div>
            <div class="col-xs-2 col-xs-height col-middle">
                <bs-dropdown data-menu-type="button"
                    select-val="campusSelected_status = selectedVal"
                    preselected-item="campusSelected_status"
                    data-dropdown-data="campusStatuses">
                </bs-dropdown>
            </div>
            <div class="col-xs-1 col-xs-height">
                <h5 class="text-right">年级：</h5>
            </div>
            <div class="col-xs-2 col-xs-height col-middle">
                <bs-dropdown data-menu-type="button"
                    select-val="gradeSelected_status = selectedVal"
                    preselected-item="gradeSelected_status"
                    data-dropdown-data="gradeStatuses">
                </bs-dropdown>
            </div>
            <div class="col-xs-1 col-xs-height">
                <h5 class="text-right">班级：</h5>
            </div>
            <div class="col-xs-2 col-xs-height col-middle">
                <bs-dropdown data-menu-type="button"
                    select-val="classSelected_status = selectedVal"
                    preselected-item="classSelected_status"
                    data-dropdown-data="classStatuses">
                </bs-dropdown>
            </div> -->
            <!-- Placeholder -->
            <!-- <div class="col-xs-1 col-xs-height col-middle"></div>
        </div>
    </div>
    </div></div>
</div> -->

<!-- Add to Class -->
<div class="myBlock mt20 page-body">
  <div class="container-fluid"><div class="container-fluid">
    <div class="row">
      <div class="row-same-height">

          <div class="col-xs-2 col-xs-height col-middle width80"><p class="row title"> &nbsp;&nbsp;&nbsp;&nbsp;{{class.name}}</p></div>
          <!-- <div class="col-xs-2 col-xs-height col-middle"><p class="row title"></p></div> -->

          <div class="col-xs-2 col-xs-height col-middle width170"><p class="row title">
              <!-- 必读书数量：0{{hotreader.unreadMust+hotreader.readMust}}&nbsp;&nbsp;&nbsp;&nbsp;选读书数量：0{{hotreader.unreadSelect+hotreader.unreadSelect}} -->
          </p></div>
          <!-- <div class="col-xs-2 col-xs-height col-middle"><p class="row title">选读书数量：{{hotreader.unreadSelect+hotreader.unreadSelect}}</p></div> -->

          <div class="col-xs-2 col-xs-height col-middle text-center">
            <!-- <p class="row title">目标阅读数量：<input type="number" min="1" class="custom-input" ng-model="hotreader.targetBookNum" />　本</p> -->
             <div class="input-group ShelfByClassBookAttribute">
                  <label class="radio-inline">
                    <input type="radio" ng-click="selectBookAttribute()" ng-model="isMandatoryForClazz" name="{{hotreader.id}}" id="inlineRadio1" value=1 checked>
                      <p class="ShelfByClassBookAttributeText">必读</p>
                  </label>
                  <label class="radio-inline">
                    <input type="radio" ng-click="selectBookAttribute()" ng-model="isMandatoryForClazz" name="{{hotreader.id}}" id="inlineRadio2" value=0>
                       <p class="ShelfByClassBookAttributeText">选读</p>
                  </label>
              </div>
          </div>

          <div class="col-xs-3 col-xs-height col-middle">
              <p class="row title">推荐理由：<input type="text" class="custom-input" ng-model="hotreader.description" value="非常精彩的一本书!"/></p>
          </div>

          <div class="col-xs-1 col-xs-height col-middle">
              <button class="btn btn-fill-blue pull-right" type="button" ng-click="recommendToClazz(hotreader)">
                  对全班加书
              </button>
          </div>

      </div>
    </div>
  </div></div>
</div>


<!-- Items -->
<!-- <div class="myBlock mt20 page-body" ng-repeat="hotreader in bookshelfLoadable.entities.content | orderBy:['unreadSelect','unreadMust','id']"> -->
<div class="myBlock mt20 page-body" ng-repeat="hotreader in bookshelfLoadable.entities.content">
    <div class="container-fluid"><div class="container-fluid">
    <div class="row">
        <div class="row-same-height">
            <div class="col-xs-2 col-xs-height col-middle width80">
              <p class="row title">
                <!-- <input checklist-model="bookshelfLoadable.selected" checklist-value="hotreader" type="checkbox" ng-click="selectLength()"/> -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{hotreader.username}}
              </p>
            </div>
            <div class="col-xs-3 col-xs-height col-middle width170"><p class="row title">
                必读书数量：{{hotreader.unreadMust+hotreader.readMust}}&nbsp;&nbsp;&nbsp;&nbsp;选读书数量：{{hotreader.unreadSelect+hotreader.unreadSelect}}
            </p></div>
            <div class="col-xs-2 col-xs-height col-middle text-center">
              <!-- <p class="row title">目标阅读数量：<input type="number" min="1" class="custom-input" ng-model="hotreader.targetBookNum" />　本</p> -->
               <div class="input-group ShelfByClassBookAttribute">
                    <label class="radio-inline">
                      <input type="radio" ng-click="selectBookAttribute()" ng-model="hotreader.isMandatory" name="{{hotreader.id}}" id="inlineRadio1" value=true checked>
                        <p class="ShelfByClassBookAttributeText">必读</p>
                    </label>
                    <label class="radio-inline">
                      <input type="radio" ng-click="selectBookAttribute()"  ng-model="hotreader.isMandatory" name="{{hotreader.id}}" id="inlineRadio2" value=false>
                         <p class="ShelfByClassBookAttributeText">选读</p>
                    </label>
                </div>
            </div>
            <div class="col-xs-3 col-xs-height col-middle">
                <p class="row title">推荐理由：<input type="text" class="custom-input" ng-model="hotreader.description" /></p>
            </div>
            <div class="col-xs-1 col-xs-height col-middle">
                <button class="btn btn-fill-blue pull-right" type="button" ng-click="bookshelfLoadable.publish(hotreader)">
                    对{{hotreader.username}}加书
                </button>
            </div>
        </div>
    </div>
    </div></div>
</div>


<!-- Loadmore -->
<div class="myBlock mt20 page-body">
    <div class="load-more-bottom" ng-click="bookshelfLoadable.get()">{{ bookshelfLoadable.loadingState }}</div>
</div>
