<!-- Header bar -->
<div class="myBlock mt30 page-body">
    <div class="container-fluid"><div class="container-fluid">
    <div class="row">
        <div class="row-same-height">
            <div class="col-xs-8 col-xs-height">
                <h5 class="title"><big>已发布的任务</big></h5>
            </div>
            <div class="col-xs-4 col-xs-height col-middle">
                <a class="btn btn-fill-blue pull-right" type="button" data-toggle="modal" data-target="#task-dispatch-modal">
                    创建任务
                </a>
            </div>
        </div>
    </div>
    </div></div>
</div>

<!-- Items -->
<div class="myBlock mt20 page-body" ng-repeat="order in orderLoadable.entities.content">
    <div class="container-fluid"><div class="container-fluid">
    <div class="row">
        <div class="row-same-height text-center">
            <div class="col-xs-3 col-xs-height col-middle"><p class="row title">{{class.campusName}}</p></div>
            <div class="col-xs-2 col-xs-height col-middle"><p class="row title">{{class.name}}</p></div>
            <div class="col-xs-2 col-xs-height col-middle"><p class="row title">{{order.username}}</p></div>
            <div class="col-xs-3 col-xs-height col-middle">
                <p class="row title" ng-show="!order.editable.editing">任务目标：{{order.task.targetBookNum}}本</p>
                <p class="row title" ng-show="order.editable.editing">任务目标：<input type="number" min="1" class="custom-input" style="width:60px" ng-model="order.editable.cached.targetBookNum" />本</p>
            </div>
            <div class="col-xs-3 col-xs-height col-middle">
                <p class="row title" ng-show="!order.editable.editing">积分：{{order.task.targetPoint}}</p>
                <p class="row title" ng-show="order.editable.editing">积分：<input type="number" min="1" class="custom-input" style="width:60px" ng-model="order.editable.cached.targetPoint" /></p>
            </div>
            <div class="col-xs-2 col-xs-height col-middle">
                <p class="text-right title">
                    <a ng-show="!order.editable.editing" ng-click="order.editable.toggleEdit(false)">修改</a>
                    <a ng-show="order.editable.editing" ng-click="order.editable.toggleEdit(false)">取消</a>
                    <a ng-show="order.editable.editing" ng-click="toggleEditSave(order)">保存</a>
                </p>
            </div>
        </div>
    </div>
    </div></div>
</div>

<!-- Loadmore -->
<div class="myBlock mt20 page-body">
    <div class="load-more-bottom" ng-click="orderLoadable.get()">{{ orderLoadable.loadingState }}</div>
</div>

<!-- Task dispatch modal -->
<div class="modal fade" id="task-dispatch-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content container-fluid" style="width:49%">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="modal-title">
                <h4 id="myModalLabel">创建任务</h4>
            </div>
            
            <div class="row-same-height">
                <div class="col-xs-5 col-xs-height col-middle"><p class="row title text-right">目标阅读数量：</p></div>
                <div class="col-xs-3 col-xs-height col-middle">
                    <input type="number" min="1" class="custom-input" style="width:100%" ng-model="targetBookNum" />
                </div>
                <div class="col-xs-3 col-xs-height col-middle"><p class="row title">本</p></div>
            </div> 
            
            <div class="row-same-height">
                <div class="col-xs-5 col-xs-height col-middle"><p class="row title text-right">目标阅读积分：</p></div>
                <div class="col-xs-3 col-xs-height col-middle">
                    <input type="number" min="1" class="custom-input" style="width:100%" ng-model="targetPoint" />
                </div>
                <div class="col-xs-3 col-xs-height col-middle"><p class="row title">分</p></div>
            </div>

            <!-- Place holer -->
            <h4 class="row"></h4>
        
            <div class="row">
                <div class="col-md-12 text-left">
                    <button class="btn btn-fill-blue" class="close" data-dismiss="modal" aria-label="Close" type="button" ng-click="publish()">发布任务</button>
                </div>
            </div>

            <!-- Place holer -->
            <p class="row"></p>
        </div>
    </div>
    </div>
</div>
