<div class="myBlock mt30 page-body">
    <div class="container-fluid"><div class="container-fluid">
    <div class="row">
        <div class="row-same-height">
            <div class="col-xs-8 col-xs-height">
                <h5 class="title"><big><a ng-href="#/teachingCenter/addBook" class="dark-gray-2">我要选书></a></big><big>{{name}}</big></h5>
            </div>
            <div class="col-xs-4 col-xs-height col-middle">
            </div>
        </div>
    </div>
    </div></div>
</div>

<div class="readingCenter-right-body page-body">

    <div class="bookDetailUp">
       <div class="col-md-12">
           <div class="col-md-3 bookDetailImg">
             <img ng-src='{{imageServer+bookDetails.pictureUrl | formatPictrueUrl}}' class="img-responsive custom-shadow">
           </div>

          <div class="col-md-9 bookDetailText">
              <div class="row">
                  <h5><big><strong>{{bookDetails.name}}</strong></big></h5>
              </div>
              <div class="row">
                  <p style="line-height: 23px;margin-bottom: 24px;"><small>
                      评分：{{bookDetails.evaluationNum}} <br/>
                      作者：{{bookDetails.author}} <br/>
                      版权：{{bookDetails.publisher}} <br/>
                      分值：{{bookDetails.point}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      字数：{{bookDetails.wordCount}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      页数：{{bookDetails.pageCount}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                      已有<span class="red-text">{{bookDetails.statistic.readNums}}</span>人阅读，<span class="red-text">{{bookDetails.statistic.notes}}</span>人做笔记，<span class="red-text">{{bookDetails.statistic.recommends}}</span>人推荐。
                  </small></p>
              </div>

        </div>
        </div>
    </div>


        <div class="container-fluid bookDetailMid">

            <!-- Place holder -->
            <h3 class="row"></h3>

            <div class="row buttom-separator">
                <h5 class="col-md-12" style="font-size:15px"><div class="col-md-12">看过这本书的还看过</div></h5>
            </div>


            <!-- Place holder -->
            <h3 class="row"></h3>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2" style="width:20%;" ng-repeat="hot in hots.content">
                      <img ng-src='{{imageServer+hot.pictureUrl | formatPictrueUrl}}' class="img-responsive img-center custom-shadow" >
                      <div class="bookTital"><h5>{{hot.name}}</h5></div>
                    </div>
                </div>
            </div>

            <!-- Place holder -->
            <p class="row"></p>
        </div>


        <div class="container-fluid">

            <!-- Nav tabs -->
            <div class="row buttom-separator">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#intro" aria-controls="intro" role="tab" data-toggle="tab">图书简介</a></li>
                <li role="presentation"><a href="#catalog" aria-controls="catalog" role="tab" data-toggle="tab">目录</a></li>
                <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">图书评论</a></li>
                <li role="presentation"><a href="#note" aria-controls="note" role="tab" data-toggle="tab">相关笔记</a></li>
                <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">试读</a></li>
                <li role="presentation"><a href="#recommand" aria-controls="recommand" role="tab" data-toggle="tab">推荐</a></li>
                <li role="presentation"><a href="#multimedia" aria-controls="multimedia" role="tab" data-toggle="tab">音视频</a></li>
            </ul>
            </div>

            <!-- Tab panes -->
            <div class="tab-content container-fluid paragraph" style="line-height:25px;">

                <!-- introduction -->
                <div role="tabpanel" class="tab-pane in active" id="intro">
                    <div>
                        <p>{{bookDetails.description}}</p>
                    </div>
                </div>

                <!-- catalog -->
                <div role="tabpanel" class="tab-pane" id="catalog">
                    <div>
	                        <p ng-bind-html="bookDetails.catalogue | formatParagraph"></p>
                    </div>
                </div>

                <!-- review -->
                <div role="tabpanel" class="tab-pane fade" id="review">
                    <div class="row" style="margin-top:-20px;margin-bottom:-20px;">
                        <div class="row" style="margin-top:0;" ng-repeat="item in review.source">
                            <div class="container-fluid buttom-separator">
                                <div class="title col-md-12" style="width:100%;" ng-init="Note.text_overflow=true;">
                                    <h5><strong>{{ item.title }}</strong></h5>
                                    <p><small>评分：{{item.rate}}&nbsp;&nbsp;&nbsp;&nbsp;{{item.studentName}} - {{item.creationTime}}</small></p>
                                    <p><small>{{item.content}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="bottom row" ng-click="showMoreReview(arguments)">{{ review.currentStete }}</div>
                    </div>
                </div>

                <!-- note -->
                <div role="tabpanel" class="tab-pane fade" id="note">
                    <div class="row" style="margin-top:-20px;margin-bottom:-20px;">
                    <div class="note-row row" style="padding-right: 15px;" ng-repeat="Note in noteView.Notes.content">
                        <div class="container-fluid book-row" style="margin-top:0;">
                            <div class="title book-row-right" style="width:100%;" ng-init="Note.text_overflow=true;">
                                <div ng-class="{'overflow-text-2' : Note.text_overflow}">
                                    <h5><strong>{{ Note.title }}</strong></h5>
                                    <p><small>{{ Note.creationTime }}</small><br/>{{ Note.content }}</p></div>
                                <div style="float:right;" class="show-more-note-content">
                                    <a ng-click=" Note.text_overflow = !Note.text_overflow" ng-show="Note.text_overflow && Note.content.length > 101">更多</a>
                                </div>
                                <div class="book-thumbnail" >
                                    <div ng-show="Note.image !== null">
                                        <div ng-style="{'background-image':'url('+imageServer+Note.image+')'}" ng-click="showLightBox(Note.image)" data-toggle="modal" data-target="#light-box-modal"> </div>
                                    </div>
                                </div>

                                <div class="msg-buttom" ng-click="noteView.ShowComments(Note)">
                                    <div><h5>{{ Note.commentCount }}</h5></div>
                                    <img src="../static/img/myNote/comment.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="row msg-row" ng-show="Note.showComments">
                            <div class="col-md-10"><input class="form-control" placeholder="输入回复" ng-model="Note.newCommentContent"></div>
                            <input class="btn btn-green col-md-2" ng-click="noteView.addComment(Note, student.username)" type="button" value="发表评论">
                            <div class="clearfix"></div>
                            <div class="col-md-12 reply">
                                <div class="col-md-12 total"><h5>共{{ Note.commentCount }}条评论</h5></div>
                                <div class="col-md-12 block" ng-repeat="Comment in Note.Comments.content">
                                    <div class="person"><h5>{{Comment.username}}&nbsp;&nbsp;&nbsp;{{Comment.creationTime}}</h5></div>
                                    <div class="content"><p>{{Comment.content}}</p></div>
                                </div>
                                <div class="bottom col-md-12 block" style="margin-top:1px;" ng-show="Note.showShowMoreComment" ng-click="noteView.ShowMoreComments(Note)">{{ Note.loadingState }}</div>
                            </div>
                        </div>
                        <p class="row"></p>
                    </div>

                    <div class="bottom row" ng-click="noteView.ShowMoreNotes(arguments)">{{ noteView.Notes.loadingState }}</div>
                    </div>
                </div>

                <!-- preview -->
                <div role="tabpanel" class="tab-pane fade" id="preview">
                    <div>
                        <p>试读服务</p>
                    </div>
                </div>

                <!-- recommand -->
                <div role="tabpanel" class="tab-pane fade" id="recommand">
                    <div>
                        <p>好书推荐。</p>
                    </div>
                </div>

                <!-- multimedia -->
                <div role="tabpanel" class="tab-pane fade" id="multimedia">
                    <div>
                        <p>音视频</p>
                    </div>
                </div>

            </div>
        </div>

    <!-- Take note modal -->
    <div class="modal fade" id="book-takenote-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            <div class="modal-body">

                <!-- Row 0 -->
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="modal-title" id="myModalLabel" >做笔记
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </h4>
                    </div>
                </div>

                <!-- Row 1 -->
                <div class="row title">
                    <div class="col-md-2">
                        <img ng-src='{{imageServer+bookDetails.pictureUrl | formatPictrueUrl}}' class="img-responsive custom-shadow">
                    </div>
                    <div class="col-md-10">
                        <h4>{{noteTake.name}}</h4>
                        <p><small style="line-height:20px;">评分：×　×　×　×　× <br/>作者：{{noteTake.author}}<br/>版权：{{noteTake.publisher}}<br/>分值：{{noteTake.point}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;字数：{{noteTake.wordCount}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页数：{{noteTake.pageCount}}</h5>

                    </div>
                </div>

                <!-- Input form -->
                <div class="row">
                    <div class="col-md-12 input-textarea-group">
                        <input class="form-control" placeholder="标题（必填）" ng-model="noteTake.title"/>
                        <textarea class="form-control message-input" placeholder="正文（不少于20字不大于300字）" ng-model="noteTake.content"/>
                    </div>
                </div>
          </div>
                <div class="row">
                    <div class="col-md-12"><div class="col-md-12">
<!--                        <img src="../static/img/myBookshelf/addPhoto.png" class="img-responsive">-->
                        <div id="image-uploader" class="dropzone" style="width:100px"></div>
                    </div></div>
                </div>
          </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <a  class="btn-a" data-dismiss="modal">取消</a>
                        <button class="btn btn-green" type="button" ng-click="noteTake.send()"  data-dismiss="modal">提交笔记</button>
                    </div>
                </div>
          </div>
        </div>
    </div>

    <!-- Light box modal -->
    <div class="modal fade" id="light-box-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <div class="container-fluid">
                    <div ng-show="showLightBox.url" class="title">
                        <img ng-src="{{showLightBox.url}}" class="img-thumbnail"/>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<script>
    // Initlizate the nav tab
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
