<div class="quickSearch">
	<div class="input-group search col-md-8 title">
		<input type="text" class="form-control" placeholder="请输入书名" ng-model="searchArguments.searchTerm">
		 <span class="input-group-addon" ng-click="searchToAdvance(searchArguments.searchTerm)">搜索</span>
	</div>
	<div class="row tip">
		请输入您想要查找图书的关键词，例如，想要查找金庸的著作和关于金庸的书籍，可以输入“金庸”关键字。如果您期望搜索的结果精确，请尽可能地输入接近您想查找的内容的关键字，例如，要查找“战争与和平”，请输入“战争与和平”。如果您想获得更大范围的搜索结果，请输入短且命中率高的关键字，例如，要查找关于“sql server”的图书，请输入“sql”。
	</div>

   <div class="row mt20 myBlock page-body">
        <div class="col-md-12">
            <p><h6>热门阅读</h6></p>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 clear-padding" ng-repeat="hot in hots.content">
					<div class="col-md-6">
                        <a href="#teachingCenter/bookDetails/{{hot.id}}/"><img ng-src='{{imageServer+hot.pictureUrl | formatPictrueUrl}}' class="img-responsive"></a>
					</div>
					<div class="col-md-6">
					   <div class="row">
							<a href="#teachingCenter/bookDetails/{{hot.id}}/"><div class="fsize12"><h4>{{hot.name}}</h4></div></a>
							<div class="fsize12">评分：{{hot.evaluationNum}}</div>
							<div class="fsize12">作者：{{hot.author}}</div>
							<div class="fsize12">已有{{hot.statistic.readNums}}人阅读</div>
							<a href="#teachingCenter/addBookToShelf/{{hot.id}}/" class="btn btn-sm btn-fill-blue" type="button">推荐图书</a>&nbsp;&nbsp;
							<div>&nbsp;&nbsp;</div>
        		</div>
				    </div>
            </div>
        </div>
    </div>

    <div class="row myBlock page-body mt20">
        <div class="col-md-12">
            <p><h6>热门推荐</h6></p>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 clear-padding" ng-repeat="recommend in recommends.content">
					<div class="col-md-6">
              <a href="#teachingCenter/bookDetails/{{recommend.id}}/"><img ng-src='{{imageServer+recommend.pictureUrl | formatPictrueUrl}}' class="img-responsive"></a>
					</div>
					<div class="col-md-6">
					   <div class="row">
							<a href="#teachingCenter/bookDetails/{{recommend.id}}/"><div class="fsize12"><h4>{{recommend.name}}</h4></div></a>
						<div class="fsize12">评分：{{recommend.evaluationNum}}</div>
						<div class="fsize12">作者：{{recommend.author}}</div>
						<div class="fsize12">已有{{recommend.statistic.recommends}}人推荐</div>
						<a href="#teachingCenter/addBookToShelf/{{recommend.id}}/" class="btn btn-sm btn-fill-blue" type="button">推荐图书</a>&nbsp;&nbsp;
              </div>
				    </div>
            </div>
        </div>

        <!-- Place holder -->
        <h5 class="row"></h5>
    </div>




<!--
	<div class="advert">
		<img src="../static/img/advert.jpg" class="img-responsive">
	</div>
-->
</div>
