<!-- Description -->
<div class="page-body">
    <div class="container-fluid"><div class="container-fluid">
        <h5 class="title">
            一共<span class="madang-text">{{ classes.length }}</span>个班级，
            平均种类阅读量为<span class="madang-text">{{ classCategoryData.avgData }}</span>本，
            最高种类阅读量为<span class="madang-text">{{ classCategoryData.maxData }}</span>本，
            最低种类阅读量为<span class="madang-text">{{ classCategoryData.minData }}</span>本。
        </h5>
    </div></div>
</div>

<!-- Items -->
<div class="leftpart" >
    <div class="myBlock page-body">
        <div class="container-fluid title"><div class="container-fluid">
            <div class="row">
                <div class="container-fluid title">
                    <canvas id="myRadarChart"></canvas>
                </div>
            </div>
            <div class="row text-center">
                    <p>
                        <span ng-repeat="data in radarData.datasets">
                            <i class="fa fa-stop" ng-style="{color: data.strokeColor}"></i>&nbsp;
                            {{ classes[$index].name }}&nbsp;&nbsp;
                        </span>
                    </p>
                </div>
            </div>
        </div></div>
    </div>
</div>

<!--right part -->
<div class="rightpart">

    <!-- Filter groups -->
    <div ng-include src="'./partials/statistics/filters.html'"></div>

</div>
