<!-- Description -->
<div class="page-body">
    <div class="container-fluid"><div class="container-fluid">
        <h5 class="title">
            一共<span class="grandis-text">{{ classes.length }}</span>个班级，
            平均财富值为<span class="grandis-text">{{  SumStatistic.avgCoin }}</span>金币，
            最高财富值为<span class="grandis-text">{{  SumStatistic.maxCoin }}</span>金币，
            最低财富值为<span class="grandis-text">{{  SumStatistic.minCoin }}</span>金币。
        </h5>
    </div></div>
</div>

<!-- Items -->
<div class="leftpart" >
    <div class="myBlock page-body">
        <div class="container-fluid title"><div class="container-fluid">
            <div class="row" ng-repeat="class in classes">
                <div class="col-md-2">
                    <h5 class="text-right text-muted">{{ class.name }}</h5>
                </div>
                <div class="col-md-10">
                    <h5 class="row">
                        <div class="fr reading-count-width">&nbsp;
                            <div class="grandis fl" ng-style="{width: class.coin / SumStatistic.maxCoin * 85 + '%'}">&nbsp;</div>
                            <div class="fl">&nbsp;&nbsp;{{ class.coin }}</div>
                        </div>
                    </h5>
                </div>
            </div>
        </div></div>
    </div>
</div>

<!--right part -->
<div class="rightpart">

    <!-- Filter groups -->
    <div ng-include src="'./partials/statistics/filters.html'"></div>

</div>
