<!-- Description -->
<div class="page-body">
    <div class="container-fluid"><div class="container-fluid">
        <div class="title">
        <h5>
            一共<span class="orange-text">{{ classes.length }}</span>个班级，
            平均阅读量为<span class="orange-text">{{ SumStatistic.avgReadNum }}</span>本，
            最高阅读量为<span class="orange-text">{{ SumStatistic.maxReadNum }}</span>本，
            最低阅读值为<span class="orange-text">{{ SumStatistic.minReadNum }}</span>本。
        </h5>
        <h5>
            平均阅读量为<span class="red-text">{{ SumStatistic.avgReadWord }}</span>字数，
            最高阅读量为<span class="red-text">{{ SumStatistic.maxReadWord }}</span>字数，
            最低阅读值为<span class="red-text">{{ SumStatistic.minReadWord }}</span>字数。
        </h5>
        </div>
    </div></div>
</div>

<!-- Items -->
<div class="leftpart" >
    <div class="myBlock page-body">
        <div class="container-fluid title"><div class="container-fluid">
            <div class="row">
                <div class="col-xs-2">
                    <p>
                        <i class="fa fa-stop grandis-text"></i> 阅读本数
                    </p>
                </div>
                <div class="col-xs-2">
                    <p>
                        <i class="fa fa-stop red-text"></i> 阅读字数
                    </p>
                </div>
            </div>
            <div class="row-same-height" ng-repeat="class in classes">
                <div class="col-xs-2 col-xs-height col-middle">
                    <h5 class="text-right text-muted">{{ class.name }}</h5>
                </div>
                <div class="col-xs-10 col-xs-height col-middle">
                    <h5 class="row">
                        <div class="fr reading-count-width">&nbsp;
                            <div class="grandis fl" ng-style="{width: class.readNum / SumStatistic.maxReadNum * 85 + '%'}">&nbsp;</div>
                            <div class="fl">&nbsp;&nbsp;{{ class.readNum }}</div>
                        </div>
                    </h5>
                    <h5 class="row">
                        <div class="fr reading-count-width">&nbsp;
                            <div class="red fl" ng-style="{width: class.readWord / SumStatistic.maxReadWord * 85 + '%'}">&nbsp;</div>
                            <div class="fl">&nbsp;&nbsp;{{ class.readWord }}</div>
                        </div>
                    </h5>
                </div>
            </div>
        </div></div>
    </div>
</div>

<!--right part -->
<div class="rightpart">

    <!-- Filter groups -->
    <div ng-include src="'./partials/statistics/filters.html'"></div>

</div>
