<div>
    <h1>礼品</h1>
</div>

<div>
	<chooseschool></chooseschool>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>序列号</th>
                <th>分类名名称</th>
                <th>礼品名称</th>
                <th>礼品数量</th>
                <th>对外所需财富值</th>
                <th>发布时间</th>
                <th>
                    <button id="add" class="btn btn-primary" data-toggle="modal" data-target="#addModal" disabled="disabled">添加</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="placeHolder in searchPageable.entities.content">
                <td>{{placeHolder.id}}</td>
                <td>{{placeHolder.giftType}}</td>
                <td>{{placeHolder.name}}</td>
                <td>没存</td>
                <td>{{placeHolder.coin}}</td>
                <td>{{placeHolder.creationTime}}</td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#editModal" ng-click="updateSys(placeHolder)">修改</button>
                    <button class="btn btn-primary" ng-click="deleteSys(placeHolder)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Place holder row copied from searchs -->
    <div class="row" ng-repeat="placeHolder in searchPageable.placeHolders.content">
        <div class="col-md-10 searchHolder"> 
            <p>&nbsp;{{ placeHolder.title }}</p>
        </div>
    </div>

    <!-- Footer and page numbers  -->
    <div class="container-fluid">
        <div class="row paragraph">
            <div class="col-xs-1"></div>
            <div class="col-xs-7">
            <!-- Custom page number goes here -->
                <div class="row custom-page-number-group">
                    <div class="col-xs-2">
                        <div class="row"><a ng-click="searchPageable.showPage(searchPageable.page - 1)"></a>
                        </div>
                    </div>
                    <div class="col-xs-1 custom-page-number-container" ng-model="page" ng-repeat="pageNumber in searchPageable.pageNumbers.content">
                        <a class="custom-page-number" ng-class="{'custom-page-number-current': pageNumber === searchPageable.page}"
                    ng-click="searchPageable.showPage(pageNumber)">{{pageNumber}}</a>
                    </div>
                    <div class="col-xs-2">
                        <div class="row">
                            <a ng-click="searchPageable.showPage(searchPageable.page + 1)"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">            
                <div class="custom-page-number-group">
                    <a ng-click="searchPageable.showPage(goto)">上一页</a>
                    <input type="number" class="custom-page-number-input" ng-model="goto"/>
                    <a ng-click="searchPageable.showPage(goto)">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form role="form" name="addForm" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加</h4>
            </div>
            <div class="modal-body">
            	<div id="avatar" class="col-md-12">
                	<div class="dropzone img-circle border-shadow dz-clickable" id="image-uploader" ng-style="{'background-image':'url('+add.picture+')'}" style="">
                		<div class="dz-default dz-message"><span></span>
                		</div>
                	</div>
            	</div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">礼品名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="add.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">礼品描述</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="add.description" required>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-sm-2 control-label">类型名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="add.giftType" required>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所需财富</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" ng-model="add.coin" min="1" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">价格</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" ng-model="add.price" min="1" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="AddSys()" ng-disabled="addForm.$invalid">Add</button>
            </div>
            </form>
        </div>
    </div>
</div>