<div class="row" style="margin-top:30px">
	<!--<input type="text" ng-disabled="!province.isEdit">-->
	<div class="col-md-1">选择学校:</div>
	<div class="col-md-2">
		<select class="form-control" ng-model="SelectedProvince" ng-options="s.name for s in provinces" ng-disabled="isDisabled" ng-change="c_province()">
			<option>请选择</option>
		</select>
	</div>
	<div class="col-md-2">
		<select class="form-control" ng-model="SelectedCity" ng-options="sq.name for sq in SelectedProvince.subRegion" ng-disabled="isDisabled" ng-change="c_city()">
			<option>请选择</option>
		</select>
	</div>
	<div class="col-md-2">
		<select class="form-control" ng-model="SelectedRegion" ng-options="qy.name for qy in SelectedCity.subRegion" ng-disabled="isDisabled" ng-change="c_region()">
			<option>请选择</option>
		</select>
	</div>
	<div class="col-md-2">
		<select class="form-control" ng-model="SelectedSchool"  ng-options="" ng-disabled="isDisabled" ng-show="selectSchool.isShowSchool"  ng-change="c_school()"></select>
	</div>
</div>
