<!--AdvancedSearch-->
<div class="advancedSearch">
    <div class="row">
        <div class="col-md-9 leftpart">
            <div class="input-group search">
                <input type="text" class="form-control" placeholder="请输入Admin姓名" ng-model="searchArguments.searchTerm">
                <span class="input-group-addon" ng-click="searchByName(searchContent)">搜索</span>
                <span class="input-group-addon" ng-click="addNewSubjectQuestion()">添加</span>
            </div>

            <div class="input-group search">
                <form action="/api/upload/excel/admin" method="POST" enctype="multipart/form-data">

                    Excel: <input type="file" name="myfile"/><br/>  

                    <input type="submit" value="Excel导入Admin" />
                </form>
            </div>
        </div>
    </div>


    <!-- Place holder row copied from searchs -->
    <!--<div class="row" ng-repeat="placeHolder in searchPageable.placeHolders.content">
        
    </div>-->
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>用户ID</th>
                <th>用户名称</th>
                <th>
                    <button id="login" class="btn btn-primary">添加</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="placeHolder in searchPageable.entities.content">
                <td>{{placeHolder.userId}}</td>
                <td>{{placeHolder.username}}</td>
                <td>
                    <button class="btn btn-primary">修改</button>
                    <button class="btn btn-primary">删除</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row" ng-repeat="placeHolder in searchPageable.placeHolders.content">
        <div class="col-md-10 searchHolder">
            <p>&nbsp;{{ placeHolder.title }}</p>
        </div>
    </div>

    <!-- Footer and page numbers  -->
    <div class="container-fluid">
        <div class="row paragraph">
            <div class="col-xs-1"></div>
            <div class="col-xs-7">
                <!-- Custom page number goes here -->
                <div class="row custom-page-number-group">
                    <div class="col-xs-2">
                        <div class="row">
                            <a ng-click="searchPageable.showPage(searchPageable.page - 1)"></a>
                        </div>
                    </div>
                    <div class="col-xs-1 custom-page-number-container" ng-model="page" ng-repeat="pageNumber in searchPageable.pageNumbers.content">
                        <a class="custom-page-number" ng-class="{'custom-page-number-current': pageNumber === searchPageable.page}" ng-click="searchPageable.showPage(pageNumber)">{{pageNumber}}</a>
                    </div>
                    <div class="col-xs-2">
                        <div class="row">
                            <a ng-click="searchPageable.showPage(searchPageable.page + 1)"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="custom-page-number-group">
                    <a ng-click="searchPageable.showPage(goto)">上一页</a>
                    <input type="number" class="custom-page-number-input" ng-model="goto"/>
                    <a ng-click="searchPageable.showPage(goto)">下一页</a>
                </div>
            </div>
        </div>
    </div>

</div>