<!-- Header bar -->
<div class="myBlock mt30 page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="leftpart page-body">
                <div class="container-fluid">
                    <div class="row-same-height text-center sort-header">
                        <div class="col-xs-3 col-xs-height col-middle">
                            <h5 class="row title">
                                <big><a class="dark-gray-2">跨校比较</a></big>
                            </h5>
                        </div>
                        <div class="col-xs-2 col-xs-height col-middle">
                            <p class="row title">
                                <a class="dark-gray-2" ng-click="sortable.sort('point')">
                                    积分
                                    <i class="fa fa-sort-asc" ng-class="{muted: !( sortable.sortBy === 'point' && sortable.direction === 'ASC' ) }"></i><i class="fa fa-sort-desc" ng-class="{muted: !( sortable.sortBy === 'point' && sortable.direction === 'DESC' ) }"></i>
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-2 col-xs-height col-middle">
                            <p class="row title">
                                <a class="dark-gray-2" ng-click="sortable.sort('testPasses')">
                                    阅读数
                                    <i class="fa fa-sort-asc" ng-class="{muted: !( sortable.sortBy === 'testPasses' && sortable.direction === 'ASC' ) }"></i><i class="fa fa-sort-desc" ng-class="{muted: !( sortable.sortBy === 'testPasses' && sortable.direction === 'DESC' ) }"></i>
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-2 col-xs-height col-middle">
                            <p class="row title">
                                <a class="dark-gray-2" ng-click="sortable.sort('coin')">
                                    财富值 
                                    <i class="fa fa-sort-asc" ng-class="{muted: !( sortable.sortBy === 'coin' && sortable.direction === 'ASC' ) }"></i><i class="fa fa-sort-desc" ng-class="{muted: !( sortable.sortBy === 'coin' && sortable.direction === 'DESC' ) }"></i>
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-2 col-xs-height col-middle">
                            <p class="row title">
                                <a class="dark-gray-2" ng-click="sortable.sort('notes')">
                                    笔记数 
                                    <i class="fa fa-sort-asc" ng-class="{muted: !( sortable.sortBy === 'notes' && sortable.direction === 'ASC' ) }"></i><i class="fa fa-sort-desc" ng-class="{muted: !( sortable.sortBy === 'notes' && sortable.direction === 'DESC' ) }"></i>
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-2 col-xs-height col-middle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Items -->
<div class="leftpart">
    <div class="myBlock mt20 page-body" ng-repeat="order in campusOrderLoadable.entities.content">
        <div class="container-fluid"><div class="container-fluid">
            <div class="row">
                <div class="row-same-height text-center">
                    <div class="col-xs-3 col-xs-height col-middle"><p class="row title">{{order.name}}</p></div>
                    <div class="col-xs-2 col-xs-height col-middle"><p class="row title">{{order.point}}</p></div>
                    <div class="col-xs-2 col-xs-height col-middle"><p class="row title">{{order.testPasses}}</p></div>
                    <div class="col-xs-2 col-xs-height col-middle"><p class="row title">{{order.coin}}</p></div>
                    <div class="col-xs-2 col-xs-height col-middle"><p class="row title">{{order.notes}}</p></div>
<!--                    <div class="col-xs-2 col-xs-height col-middle"><p class="row title"><a>查看详情</a></p></div>-->
                </div>
            </div>
        </div></div>
    </div>
    
    <!-- Loadmore -->
    <div class="myBlock mt20 page-body">
        <div class="load-more-bottom" ng-click="campusOrderLoadable.get()">{{ campusOrderLoadable.loadingState }}</div>
    </div>
</div>
    
<!--right part -->
<div class="rightpart mt20">

    <!-- Filter groups -->
    <div ng-include src="'./partials/statistics/filters.html'"></div>

</div>
